#**Installing Email Validator**

In [ ]:
!pip install deep-translator email-validator

Requirement already satisfied: deep-translator in /usr/local/lib/python3.12/dist-packages (1.11.4)
Requirement already satisfied: email-validator in /usr/local/lib/python3.12/dist-packages (2.3.0)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.9.1 in /usr/local/lib/python3.12/dist-packages (from deep-translator) (4.13.5)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in /usr/local/lib/python3.12/dist-packages (from deep-translator) (2.32.4)
Requirement already satisfied: dnspython>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from email-validator) (2.8.0)
Requirement already satisfied: idna>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from email-validator) (2.10)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4<5.0.0,>=4.9.1->deep-translator) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4<5.0.0,>=4.9.1->deep-translator) (4.15.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0,>=2.23.0->deep-translator) (3.4.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2025.10.5)

In [ ]:
!pip install googletrans==4.0.0-rc1

Requirement already satisfied: googletrans==4.0.0-rc1 in /usr/local/lib/python3.12/dist-packages (4.0.0rc1)
Requirement already satisfied: httpx==0.13.3 in /usr/local/lib/python3.12/dist-packages (from googletrans==4.0.0-rc1) (0.13.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2025.10.5)
Requirement already satisfied: hstspreload in /usr/local/lib/python3.12/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2025.1.1)
Requirement already satisfied: sniffio in /usr/local/lib/python3.12/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.3.1)
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.12/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.4)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.12/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2.10)
Requirement already satisfied: rfc3986<2,>=1.3 in /usr/local/lib/python3.12/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.5.0)
Requirement already satisfied: httpcore==0.9.* in /usr/local/lib/python3.12/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (0.9.1)
Requirement already satisfied: h11<0.10,>=0.8 in /usr/local/lib/python3.12/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (0.9.0)
Requirement already satisfied: h2==3.* in /usr/local/lib/python3.12/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (3.2.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in /usr/local/lib/python3.12/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (5.2.0)
Requirement already satisfied: hpack<4,>=3.0 in /usr/local/lib/python3.12/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.0)

# **Import Libraries**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from googletrans import Translator
from deep_translator import GoogleTranslator
from email_validator import validate_email, EmailNotValidError

#**Read the whole excel file containing the 4 sheets**


*   Sales_Orders_Raw
*   Products_Raw
*   Customers_Raw
*   Governorates_Lookup_Noise
*   Data_Dictionary

In [ ]:
dataSheets = pd.ExcelFile('/content/EG_Retail_Sales_Raw_CaseStudy 1(1).xlsx')
print(dataSheets.sheet_names)

['Sales_Orders_Raw', 'Products_Raw', 'Governorates_Lookup_Noise', 'Customers_Raw', 'Data_Dictionary']

# **Accessing Sales Orders Raw Sheet**

---

In [ ]:
SalesDf = dataSheets.parse('Sales_Orders_Raw')

# **Primary Inspection DF head,tail**

In [ ]:
SalesDf.head()

,OrderID,OrderDate,DeliveryDate,CustomerID,CustomerName,Gender,Phone,Email,Governorate,City,...,PaymentMethod,PaymentStatus,ShipperName,ShippingCost,SalesRep,Channel,ReturnFlag,ReturnDate,Status,Notes
0,SO93810,2024-01-29,02/02/2024,CUS-575,Mohamed Mahmoud,M,NaN,mohamed.mahmoud@gmail,Asyut,Manfalut,...,Meeza,Paid,Aramex,NaN,سارة محمد,E-com,N,NaN,NaN,Wrong phone / invalid
1,SO59823,12/03/2024,2024-03-15,C1077,سارة إبراهيم,ذكر,+2001284752529,سارة.إبراهyمexample.com,cairo,Heliopolis,...,Visa,Unpaid,بريد مصر,100.0,Karim R.,Store,N,NaN,Delivered,عنوان غير واضح - landmark: مسجد
2,SO11504,06-23-24,02 Jul 2024,C1020,كريم إبراهيم,M,NaN,NaN,أسيوط,Abnoub,...,فوري,مدفوع,DHL,25.0,Karim R.,E-com,N,NaN,ملغي,Deliver ASAP
3,SO77839,NaN,01/05/2024,C1028,أحمد محمود,M,NaN,aحمد.محمود@gmail.com,أسوان,Kom Ombo,...,MasterCard,مدفوع,DHL,25.0,Ahmed Ali,Tel-Sales,N,NaN,New,NaN
4,SO80855,04 Jan 2024,08 Jan 2024,CUS-521,Alaa Rashid,NaN,011 4828 5503,NaN,RED SEA,Safaga,...,MasterCard,Pending,DHL,0.0,سارة محمد,WhatsApp,N,NaN,ملغي,عنوان غير واضح - landmark: مسجد

In [ ]:
SalesDf.tail()

,OrderID,OrderDate,DeliveryDate,CustomerID,CustomerName,Gender,Phone,Email,Governorate,City,...,PaymentMethod,PaymentStatus,ShipperName,ShippingCost,SalesRep,Channel,ReturnFlag,ReturnDate,Status,Notes
145,SO94587,20/01/2024,02-03-24,C1029,Ahmed Mahmoud,ذكر,+20 01150629797,ahmed.mahmoud@gmail.com,South Sinai,Sharm El Sheikh,...,Visa,مدفوع,بريد مصر,75.0,A.Ali,Tel-Sales,N,NaN,Shipped,اتصل بنا قبل التوصيل
146,SO26822,03-19-24,30 Mar 2024,CUS-596,هاني راشد,M,+2001214323017,هانy.راشد@gmail.com,Qalyubia,Shubra El Kheima,...,Meeza,غير مدفوع,Aramex,75.0,Mona-S,Store,N,NaN,Shipped,عميل قديم - خصم إضافي
147,SO24515,03/02/2024,05/02/2024,NaN,منى راشد,أنثى,01137072082,منy.راشد@gmail.com,Dakahlia,Mansoura,...,Cash,مدفوع,Aramex,75.0,A.Ali,E-com,N,NaN,Shipped,Customer asked for gift wrap
148,SO38476,NaN,05-12-24,C1052,Hany Ali,M,012 7199 5701,hany.aliexample.com,south sinai,Dahab,...,Cash,Pending,DHL,0.0,Mona-S,WhatsApp,N,NaN,ملغي,Wrong phone / invalid
149,SO16259,11 Jun 2024,22 Jun 2024,C1006,Alaa Mahmoud,NaN,+2001142016340,alaa.mahmoud@example.com,القاهرة,Shobra,...,Meeza,Pending,Aramex,25.0,Mona-S,E-com,N,NaN,Shipped,Deliver ASAP


**Sales Column**

In [ ]:
SalesDf.columns

Index(['OrderID', 'OrderDate', 'DeliveryDate', 'CustomerID', 'CustomerName',
       'Gender', 'Phone', 'Email', 'Governorate', 'City', 'Address',
       'Latitude', 'Longitude', 'ProductSKU', 'ProductName', 'Category',
       'UnitPrice', 'Quantity', 'Subtotal', 'Discount', 'TotalAmount',
       'Currency', 'PaymentMethod', 'PaymentStatus', 'ShipperName',
       'ShippingCost', 'SalesRep', 'Channel', 'ReturnFlag', 'ReturnDate',
       'Status', 'Notes'],
      dtype='object')

**Checking Nulls and Data Types**

In [ ]:
SalesDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 32 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderID        150 non-null    object
 1   OrderDate      135 non-null    object
 2   DeliveryDate   137 non-null    object
 3   CustomerID     96 non-null     object
 4   CustomerName   150 non-null    object
 5   Gender         134 non-null    object
 6   Phone          123 non-null    object
 7   Email          118 non-null    object
 8   Governorate    150 non-null    object
 9   City           150 non-null    object
 10  Address        150 non-null    object
 11  Latitude       130 non-null    object
 12  Longitude      130 non-null    object
 13  ProductSKU     115 non-null    object
 14  ProductName    150 non-null    object
 15  Category       150 non-null    object
 16  UnitPrice      150 non-null    float64
 17  Quantity       150 non-null    int64
 18  Subtotal       95 non-null     float64
 19  Discount       150 non-null    object
 20  TotalAmount    150 non-null    float64
 21  Currency       150 non-null    object
 22  PaymentMethod  150 non-null    object
 23  PaymentStatus  150 non-null    object
 24  ShipperName    150 non-null    object
 25  ShippingCost   133 non-null    float64
 26  SalesRep       150 non-null    object
 27  Channel        150 non-null    object
 28  ReturnFlag     150 non-null    object
 29  ReturnDate     4 non-null      object
 30  Status         134 non-null    object
 31  Notes          120 non-null    object
dtypes: float64(4), int64(1), object(27)
memory usage: 37.6+ KB

In [ ]:
SalesDf.isna().sum()[SalesDf.isna().sum() > 1]

OrderDate        15
DeliveryDate     13
CustomerID       54
Gender           16
Phone            27
Email            32
Latitude         20
Longitude        20
ProductSKU       35
Subtotal         55
ShippingCost     17
ReturnDate      146
Status           16
Notes            30
dtype: int64

#**Conclusion**


*   Mixed Date formats in both of OrderDate and DeliveryDate

*   List item

*   List item

*   List item
*   List item


*   List item


*   List item


*   List item


 Mixed date formats (YYYY-MM-DD, DD/MM/YYYY, MM-DD-YY, Arabic month text)
 Inconsistent geography (Arabic/English/typos), swapped or out-of-range lat/long,
decimal commas
 Product/Category typos (e.g., “Electrnics”, “إلكترونيات”), SKU format variants/missing
 Quantity of 0 or negative; mismatched Subtotal vs. UnitPrice×Quantity
 Discount as value / percent string / decimal rate
 Currency as code/symbol or full value string (including USD)
 Invalid or partial Email, irregular Phone formats (+20, spaced, missing)
 Free-text notes with Arabic/English; multi-line addresses (embedded newlines)

# **Adressing each problem one by one -> my goal is to find a generic solution not hard coded**

# **Starting with Mixed Dates**

In [ ]:
def parse_mixed_date(date_str):
    date_str = str(date_str).strip()
    formats = [
        '%Y-%m-%d', '%d/%m/%Y', '%m/%d/%Y',
        '%d-%m-%Y', '%m-%d-%y', '%d %b %Y', '%d مارس %Y'
    ]
    for fmt in formats:
        try:
            return pd.to_datetime(date_str, format=fmt)
        except ValueError:
            pass


for idx, value in SalesDf['OrderDate'].items():
    parsed_date = parse_mixed_date(value)
    if parsed_date is not None and not pd.isna(parsed_date):
        SalesDf.loc[idx, 'OrderDate'] = parsed_date
    else:
        SalesDf.loc[idx, 'OrderDate'] = pd.NaT

In [ ]:
SalesDf['OrderDate'].isna().sum()

np.int64(15)

In [ ]:
SalesDf['OrderDate'].unique()

array([Timestamp('2024-01-29 00:00:00'), Timestamp('2024-03-12 00:00:00'),
       Timestamp('2024-06-23 00:00:00'), NaT,
       Timestamp('2024-01-04 00:00:00'), Timestamp('2024-04-01 00:00:00'),
       Timestamp('2024-03-29 00:00:00'), Timestamp('2024-02-20 00:00:00'),
       Timestamp('2024-03-25 00:00:00'), Timestamp('2024-01-11 00:00:00'),
       Timestamp('2024-01-23 00:00:00'), Timestamp('2024-05-30 00:00:00'),
       Timestamp('2024-01-02 00:00:00'), Timestamp('2024-03-26 00:00:00'),
       Timestamp('2024-05-10 00:00:00'), Timestamp('2024-05-04 00:00:00'),
       Timestamp('2024-01-28 00:00:00'), Timestamp('2024-04-03 00:00:00'),
       Timestamp('2024-06-13 00:00:00'), Timestamp('2024-01-19 00:00:00'),
       Timestamp('2024-02-27 00:00:00'), Timestamp('2024-06-02 00:00:00'),
       Timestamp('2024-02-07 00:00:00'), Timestamp('2024-04-16 00:00:00'),
       Timestamp('2024-01-18 00:00:00'), Timestamp('2024-05-07 00:00:00'),
       Timestamp('2024-06-12 00:00:00'), Timestamp('2024-06-25 00:00:00'),
       Timestamp('2024-05-29 00:00:00'), Timestamp('2024-06-29 00:00:00'),
       Timestamp('2024-04-25 00:00:00'), Timestamp('2024-06-24 00:00:00'),
       Timestamp('2024-03-17 00:00:00'), Timestamp('2024-01-08 00:00:00'),
       Timestamp('2024-06-21 00:00:00'), Timestamp('2024-06-27 00:00:00'),
       Timestamp('2024-03-19 00:00:00'), Timestamp('2024-03-04 00:00:00'),
       Timestamp('2024-06-26 00:00:00'), Timestamp('2024-02-24 00:00:00'),
       Timestamp('2024-03-18 00:00:00'), Timestamp('2024-05-21 00:00:00'),
       Timestamp('2024-01-12 00:00:00'), Timestamp('2024-01-16 00:00:00'),
       Timestamp('2024-01-24 00:00:00'), Timestamp('2024-02-12 00:00:00'),
       Timestamp('2024-05-01 00:00:00'), Timestamp('2024-03-02 00:00:00'),
       Timestamp('2024-04-14 00:00:00'), Timestamp('2024-01-05 00:00:00'),
       Timestamp('2024-02-11 00:00:00'), Timestamp('2024-02-10 00:00:00'),
       Timestamp('2024-03-21 00:00:00'), Timestamp('2024-02-04 00:00:00'),
       Timestamp('2024-06-15 00:00:00'), Timestamp('2024-04-24 00:00:00'),
       Timestamp('2024-01-31 00:00:00'), Timestamp('2024-01-25 00:00:00'),
       Timestamp('2024-03-31 00:00:00'), Timestamp('2024-02-23 00:00:00'),
       Timestamp('2024-01-03 00:00:00'), Timestamp('2024-05-09 00:00:00'),
       Timestamp('2024-06-06 00:00:00'), Timestamp('2024-04-13 00:00:00'),
       Timestamp('2024-06-16 00:00:00'), Timestamp('2024-04-29 00:00:00'),
       Timestamp('2024-03-20 00:00:00'), Timestamp('2024-02-06 00:00:00'),
       Timestamp('2024-05-28 00:00:00'), Timestamp('2024-05-06 00:00:00'),
       Timestamp('2024-04-12 00:00:00'), Timestamp('2024-06-28 00:00:00'),
       Timestamp('2024-06-14 00:00:00'), Timestamp('2024-04-21 00:00:00'),
       Timestamp('2024-01-30 00:00:00'), Timestamp('2024-01-26 00:00:00'),
       Timestamp('2024-04-22 00:00:00'), Timestamp('2024-01-21 00:00:00'),
       Timestamp('2024-06-17 00:00:00'), Timestamp('2024-01-09 00:00:00'),
       Timestamp('2024-01-01 00:00:00'), Timestamp('2024-02-03 00:00:00'),
       Timestamp('2024-02-13 00:00:00'), Timestamp('2024-04-20 00:00:00'),
       Timestamp('2024-02-19 00:00:00'), Timestamp('2024-02-01 00:00:00'),
       Timestamp('2024-04-23 00:00:00'), Timestamp('2024-01-06 00:00:00'),
       Timestamp('2024-03-01 00:00:00'), Timestamp('2024-01-20 00:00:00'),
       Timestamp('2024-06-11 00:00:00')], dtype=object)

In [ ]:
for idx, value in SalesDf['DeliveryDate'].items():
    parsed_date = parse_mixed_date(value)
    if parsed_date is not None and not pd.isna(parsed_date):
        SalesDf.loc[idx, 'DeliveryDate'] = parsed_date
    else:
        SalesDf.loc[idx, 'DeliveryDate'] = pd.NaT

In [ ]:
SalesDf['OrderDate'].isna().sum()

np.int64(15)

# **Customer ID**

In [ ]:
SalesDf["CustomerID"].unique()

array(['CUS-575', 'C1077', 'C1020', 'C1028', 'CUS-521', 'C1016', 'C1079',
       'C1024', nan, 'CUS-527', 'CUS-563', 'C1097', 'CUS-500', 'CUS-550',
       'CUS-541', 'CUS-549', 'CUS-576', 'C1055', 'C1019', 'CUS-569',
       'C1053', 'CUS-564', 'CUS-580', 'C1043', 'C1049', 'C1099', 'C1089',
       'C1063', 'CUS-512', 'CUS-516', 'C1044', 'CUS-506', 'CUS-535',
       'CUS-533', 'C1042', 'C1001', 'C1070', 'C1065', 'C1034', 'CUS-519',
       'C1045', 'C1026', 'CUS-511', 'CUS-595', 'CUS-501', 'CUS-504',
       'CUS-520', 'C1041', 'C1000', 'C1031', 'CUS-539', 'CUS-538',
       'CUS-513', 'CUS-542', 'CUS-596', 'CUS-568', 'C1058', 'C1011',
       'CUS-582', 'C1032', 'C1062', 'C1022', 'CUS-560', 'C1035', 'C1093',
       'C1002', 'CUS-566', 'C1094', 'CUS-515', 'CUS-565', 'CUS-523',
       'C1018', 'CUS-598', 'CUS-562', 'C1098', 'C1080', 'C1071', 'C1005',
       'C1029', 'C1052', 'C1006'], dtype=object)

In [ ]:
SalesDf['CustomerID'] = SalesDf['CustomerID'].apply(lambda x: x.replace('CUS-', 'C') if isinstance(x, str) and x.startswith('CUS-') else x)

In [ ]:
SalesDf["CustomerID"].unique()

array(['C575', 'C1077', 'C1020', 'C1028', 'C521', 'C1016', 'C1079',
       'C1024', nan, 'C527', 'C563', 'C1097', 'C500', 'C550', 'C541',
       'C549', 'C576', 'C1055', 'C1019', 'C569', 'C1053', 'C564', 'C580',
       'C1043', 'C1049', 'C1099', 'C1089', 'C1063', 'C512', 'C516',
       'C1044', 'C506', 'C535', 'C533', 'C1042', 'C1001', 'C1070',
       'C1065', 'C1034', 'C519', 'C1045', 'C1026', 'C511', 'C595', 'C501',
       'C504', 'C520', 'C1041', 'C1000', 'C1031', 'C539', 'C538', 'C513',
       'C542', 'C596', 'C568', 'C1058', 'C1011', 'C582', 'C1032', 'C1062',
       'C1022', 'C560', 'C1035', 'C1093', 'C1002', 'C566', 'C1094',
       'C515', 'C565', 'C523', 'C1018', 'C598', 'C562', 'C1098', 'C1080',
       'C1071', 'C1005', 'C1029', 'C1052', 'C1006'], dtype=object)

#**Customer Name**


*   We have a Mix of Arabic & English names


      1.  Either we hard code it
      2.   List item

In [ ]:
SalesDf["CustomerName"].unique()

array(['Mohamed Mahmoud', 'سارة إبراهيم', 'كريم إبراهيم', 'أحمد محمود',
       'Alaa Rashid', 'يوسف راشد', 'Alaa Mahmoud', 'Ahmed Farouk',
       'يوسف إبراهيم', 'Sara Farouk', 'كريم علي', 'Dina Hassan',
       'Youssef Rashid', 'نور فتحي', 'محمد فتحي', 'Ahmed Fathy',
       'محمد محمود', 'Sara Mahmoud', 'هاني راشد', 'هاني علي', 'Mona Nasr',
       'Nour Fathy', 'نور علي', 'Mona Ibrahim', 'منى إبراهيم', 'يوسف حسن',
       'دينا محمود', 'يوسف نصر', 'Hany Rashid', 'Dina Ibrahim',
       'علاء فاروق', 'علاء فتحي', 'كريم حسن', 'Alaa Farouk',
       'Nour Farouk', 'Nour Mahmoud', 'منى علي', 'Ahmed Ibrahim',
       'علاء حسن', 'سارة فتحي', 'Alaa Nasr', 'منى محمود', 'Hany Ibrahim',
       'نور فاروق', 'Mohamed Nasr', 'علاء إبراهيم', 'Nour Hassan',
       'محمد علي', 'Hany Ali', 'Alaa Hassan', 'Mona Hassan', 'Hany Fathy',
       'يوسف علي', 'أحمد نصر', 'Mohamed Rashid', 'سارة محمود',
       'Ahmed Mahmoud', 'Ahmed Ali', 'Mona Fathy', 'نور راشد',
       'Dina Fathy', 'سارة حسن', 'علاء علي', 'Nour Ali', 'محمد حسن',
       'نور محمود', 'Mona Ali', 'هاني نصر', 'Youssef Ali', 'أحمد حسن',
       'أحمد إبراهيم', 'منى راشد', 'سارة علي', 'محمد راشد',
       'Mohamed Farouk', 'Mohamed Ali', 'كريم فتحي', 'Karim Ibrahim',
       'أحمد فتحي', 'Karim Mahmoud', 'Hany Hassan', 'هاني فاروق',
       'منى فاروق', 'Karim Ali', 'هاني فتحي', 'Alaa Fathy', 'Dina Ali',
       'نور نصر', 'أحمد راشد', 'دينا راشد', 'Ahmed Hassan', 'كريم نصر',
       'أحمد فاروق', 'Mohamed Ibrahim', 'Mona Mahmoud', 'يوسف فتحي'],
      dtype=object)

In [ ]:
translator = Translator()
translated = translator.translate('سارة إبراهيم', src='ar', dest='en')
print(translated.text)

Sarah Ibrahim

#**After seeing the result on the sample case I'll apply it to the customer name column**

In [ ]:
SalesDf['CustomerName'] = SalesDf['CustomerName'].apply(
    lambda x: translator.translate(x, src='ar', dest='en').text if isinstance(x, str) else x
)

In [ ]:
SalesDf["CustomerName"].unique()

array(['Mohamed Mahmoud', 'Sarah Ibrahim', 'Karim Ibrahim',
       'Ahmed Mahmoud', 'Alaa Rashid', 'Youssef Rashid', 'Alaa Mahmoud',
       'Ahmed Farouk', 'Youssef Ibrahim', 'Sarah Farouk', 'Karim Ali',
       'Dina Hassan', 'Nour Fathi', 'Muhammad Fathi', 'Ahmed Fathi',
       'Muhammad Mahmoud', 'Sarah Mahmoud', 'Hani Rashid', 'Hani Ali',
       'Mona Nasr', 'Nour Ali', 'Mona Ibrahim', 'Youssef Hassan',
       'Dina Mahmoud', 'Youssef Nasr', 'Hany Rashid', 'Dina Ibrahim',
       'Alaa Farouk', 'Alaa Fathi', 'Karim Hassan', 'Nour Farouk',
       'Nour Mahmoud', 'Mona Ali', 'Ahmed Ibrahim', 'Alaa Hassan',
       'Sarah Fathi', 'Alaa Nasr', 'Mona Mahmoud', 'Hany Ibrahim',
       'Mohamed Nasr', 'Alaa Ibrahim', 'Nour Hassan', 'Muhammad Ali',
       'Hany Ali', 'Mona Hassan', 'Hany Fathi', 'Yusuf Ali', 'Ahmed Nasr',
       'Mohamed Rashid', 'Ahmed Ali', 'Mona Fathi', 'Nour Rashid',
       'Dina Fathi', 'Sarah Hassan', 'Alaa Ali', 'Muhammad Hassan',
       'Hani Nasr', 'Youssef Ali', 'Ahmed Hassan', 'Mona Rashid',
       'Sarah Ali', 'Muhammad Rashid', 'Mohamed Farouk', 'Mohamed Ali',
       'Karim Fathi', 'Karim Mahmoud', 'Hany Hassan', 'Hani Farouk',
       'Mona Farouk', 'Hani Fathi', 'Dina Ali', 'Nour Nasr',
       'Ahmed Rashid', 'Dina Rashid', 'Karim Nasr', 'Mohamed Ibrahim',
       'Youssef Fathi'], dtype=object)

#**Now we Don't have any Arabic Entries in the Customer Name**

In [ ]:
SalesDf.columns

Index(['OrderID', 'OrderDate', 'DeliveryDate', 'CustomerID', 'CustomerName',
       'Gender', 'Phone', 'Email', 'Governorate', 'City', 'Address',
       'Latitude', 'Longitude', 'ProductSKU', 'ProductName', 'Category',
       'UnitPrice', 'Quantity', 'Subtotal', 'Discount', 'TotalAmount',
       'Currency', 'PaymentMethod', 'PaymentStatus', 'ShipperName',
       'ShippingCost', 'SalesRep', 'Channel', 'ReturnFlag', 'ReturnDate',
       'Status', 'Notes'],
      dtype='object')

# **Phone Normalization**
**irregular Phone formats (+20, spaced, missing)**

In [ ]:
SalesDf["Phone"].unique()

array([nan, '+2001284752529', '011 4828 5503', '01065337219',
       '+2001067062156', '01051746937', '+20 01190014570',
       '+2001249209916', '+2001289160218', '+20 01275007200',
       '+20 01016172803', '+20 01091478884', '01239711402',
       '+20 01210380581', '+20 01034215035', '+20 01284990607',
       '+2001252431444', '01054250344', '+2001158895439', '012 2862 8439',
       '01098195059', '011 3317 3544', '01248124318', '01285383550',
       '01042507072', '01048983895', '+20 01011243818', '+2001192493631',
       '01073360324', '+2001050502136', '+2001112058055', '01216511491',
       '01019865900', '+20 01063108878', '011 8514 1654',
       '+2001128830282', '+2001092698414', '+20 01076399516',
       '01121989814', '+2001152476240', '+20 01076627415',
       '011 1925 1149', '+2001198911718', '010 3659 2965',
       '+2001146297263', '+20 01080638102', '010 6556 8711',
       '01023017361', '+2001038439415', '011 4616 0937', '011 9745 4571',
       '012 8175 7508', '+2001087346846', '01293635734', '01220072800',
       '010 6520 1639', '+20 01271231190', '012 6162 8545', '01082634888',
       '+2001219679848', '01283487621', '01184044139', '+2001099736040',
       '+2001289503557', '+20 01266463253', '01231715773', '01212062459',
       '+2001246114740', '+20 01157661928', '010 9789 0153',
       '010 8290 5989', '01218060088', '+2001293929707',
       '+20 01027742113', '011 7040 6241', '+20 01193917080',
       '01034796255', '+2001298520663', '+20 01187707540',
       '+20 01119104802', '+20 01141895802', '012 4912 4904',
       '011 9112 5155', '+20 01290213415', '011 5044 8811',
       '+20 01262409851', '+20 01014971784', '012 3214 6747',
       '+20 01068340640', '+2001284189605', '+2001264406548',
       '+20 01029909634', '012 3957 6862', '010 1088 8369', '01131918943',
       '+2001027275764', '+2001124404851', '010 4125 5233',
       '+20 01084714519', '011 8655 1556', '+2001128865664',
       '+20 01062744287', '+2001174205127', '010 9290 3638',
       '012 5839 7866', '+20 01066711868', '+20 01245577682',
       '012 6976 2583', '+20 01237811066', '+2001223327047',
       '+20 01252103461', '+2001286875315', '+20 01150702879',
       '01287424245', '+2001037187070', '+20 01278495121',
       '+2001111256721', '+2001288710632', '+2001184424395',
       '+20 01150629797', '+2001214323017', '01137072082',
       '012 7199 5701', '+2001142016340'], dtype=object)

In [ ]:
SalesDf['Phone'] = SalesDf['Phone'].apply(lambda x: str(x).replace('+20', '').strip() if pd.notnull(x) else x)

In [ ]:
SalesDf["Phone"].unique()

array([nan, '01284752529', '011 4828 5503', '01065337219', '01067062156',
       '01051746937', '01190014570', '01249209916', '01289160218',
       '01275007200', '01016172803', '01091478884', '01239711402',
       '01210380581', '01034215035', '01284990607', '01252431444',
       '01054250344', '01158895439', '012 2862 8439', '01098195059',
       '011 3317 3544', '01248124318', '01285383550', '01042507072',
       '01048983895', '01011243818', '01192493631', '01073360324',
       '01050502136', '01112058055', '01216511491', '01019865900',
       '01063108878', '011 8514 1654', '01128830282', '01092698414',
       '01076399516', '01121989814', '01152476240', '01076627415',
       '011 1925 1149', '01198911718', '010 3659 2965', '01146297263',
       '01080638102', '010 6556 8711', '01023017361', '01038439415',
       '011 4616 0937', '011 9745 4571', '012 8175 7508', '01087346846',
       '01293635734', '01220072800', '010 6520 1639', '01271231190',
       '012 6162 8545', '01082634888', '01219679848', '01283487621',
       '01184044139', '01099736040', '01289503557', '01266463253',
       '01231715773', '01212062459', '01246114740', '01157661928',
       '010 9789 0153', '010 8290 5989', '01218060088', '01293929707',
       '01027742113', '011 7040 6241', '01193917080', '01034796255',
       '01298520663', '01187707540', '01119104802', '01141895802',
       '012 4912 4904', '011 9112 5155', '01290213415', '011 5044 8811',
       '01262409851', '01014971784', '012 3214 6747', '01068340640',
       '01284189605', '01264406548', '01029909634', '012 3957 6862',
       '010 1088 8369', '01131918943', '01027275764', '01124404851',
       '010 4125 5233', '01084714519', '011 8655 1556', '01128865664',
       '01062744287', '01174205127', '010 9290 3638', '012 5839 7866',
       '01066711868', '01245577682', '012 6976 2583', '01237811066',
       '01223327047', '01252103461', '01286875315', '01150702879',
       '01287424245', '01037187070', '01278495121', '01111256721',
       '01288710632', '01184424395', '01150629797', '01214323017',
       '01137072082', '012 7199 5701', '01142016340'], dtype=object)

#**All phone numbers are now without prefix**

#**Gender**

In [ ]:
SalesDf["Gender"].unique()

array(['M', 'ذكر', nan, 'أنثى', 'F'], dtype=object)

In [ ]:
(SalesDf['Gender'].astype(str).str.strip().str.lower() == 'nan').sum()

np.int64(16)

In [ ]:
SalesDf['Gender'] = SalesDf['Gender'].astype(str).str.strip().str.lower().map({'m':'male', 'f':'female', 'ذكر':'male', 'أنثى':'female'})

In [ ]:
SalesDf["Gender"].unique()

array(['male', nan, 'female'], dtype=object)

In [ ]:
genderNulls=SalesDf[SalesDf.isna().any(axis=1)]['CustomerName']
print(genderNulls)

0      Mohamed Mahmoud
1        Sarah Ibrahim
2        Karim Ibrahim
3        Ahmed Mahmoud
4          Alaa Rashid
            ...
145      Ahmed Mahmoud
146        Hani Rashid
147        Mona Rashid
148           Hany Ali
149       Alaa Mahmoud
Name: CustomerName, Length: 150, dtype: object

#**I'll fix the gender by myself as I can get it from the name**

In [ ]:
NameGender= {
    'alaa rashid': 'male',
    'sarah ibrahim': 'female',
    'karim ali': 'male',
    'sarah farouk': 'female',
    'alaa farouk': 'male',
    'dina ibrahim': 'female',
    'mona fathi': 'female',
    'nour farouk': 'female',
    'ahmed ibrahim': 'male',
    'mohamed ali': 'male',
    'mona ali': 'female',
    'dina ali': 'female',
    'ahmed rashid': 'male',
    'muhammad mahmoud': 'male',
    'alaa mahmoud': 'male'
}

#**Mapping**

In [ ]:
SalesDf['Gender'] = SalesDf.apply(
    lambda row: NameGender.get(str(row['CustomerName']).strip().lower(), row['Gender']),
    axis=1
)

#**All the Nulls in the Gender Column and the inconsistancies are fixed**

In [ ]:
SalesDf["Gender"].isna().sum()

np.int64(0)

#**Inconsistent geography (Arabic/English/typos)**

In [ ]:
SalesDf["Governorate"].unique()

array(['Asyut', 'cairo', 'أسيوط', 'أسوان', 'RED SEA', 'Red Sea',
       'south sinai', 'جنوب سيناء', 'asyut', 'giza', 'الجيزة', 'SHARQIA',
       'GHARBIA', 'البحر الأحمر', 'South Sinai', 'Alexandria', 'sharqia',
       'القليوبية', 'Sharqia', 'GIZA', 'Al Red Sea', 'luxor', 'Luxor',
       'SOUTH SINAI', 'ASYUT', 'LUXOR', 'Al Alexandria', 'الإسكندرية',
       'Al Gharbia', 'Giza', 'Dakahlia', 'الأقصر', 'الغربية', 'aswan',
       'QALYUBIA', 'qalyubia', 'alexandria', 'القاهرة', 'Gharbia',
       'القاهره', 'Gizah', 'Cairo', 'الدقهلية', 'dakahlia', 'Qalyubia',
       'DAKAHLIA', 'Aswan', 'Al South Sinai', 'Al Luxor', 'الشرقية',
       'Al Giza', 'Al Asyut', 'Al Aswan'], dtype=object)

In [ ]:
SalesDf['Governorate'] = SalesDf['Governorate'].apply(
    lambda x: translator.translate(x, src='ar', dest='en').text if isinstance(x, str) else x)

In [ ]:
SalesDf["Governorate"].unique()

array(['Asyut', 'cairo', 'Assiut', 'Aswan', 'RED SEA', 'Red Sea',
       'south sinai', 'South Sinai', 'asyut', 'giza', 'Giza', 'SHARQIA',
       'GHARBIA', 'Alexandria', 'sharqia', 'Qalyubia', 'Sharqia', 'GIZA',
       'Al Red Sea', 'luxor', 'Luxor', 'SOUTH SINAI', 'ASYUT', 'LUXOR',
       'Al Alexandria', 'Al Gharbia', 'Dakahlia', 'Western', 'aswan',
       'QALYUBIA', 'qalyubia', 'alexandria', 'Cairo', 'Gharbia', 'Gizah',
       'Al South Sinai', 'Al Luxor', 'Eastern', 'Al Giza', 'Al Assiut',
       'Al Aswan'], dtype=object)

In [ ]:
SalesDf = SalesDf.applymap(
    lambda x: str(x).lower().replace('eastern', 'gharbia').replace('western','sharqia').replace('gizah','giza').replace('asyut','assiut').removeprefix('al ') if not str(x).lower().startswith('alexandria') else str(x).lower()
     if isinstance(x, str) else x
)

/tmp/ipython-input-1660195904.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  SalesDf = SalesDf.applymap(

#**The Inconsistancies in the Governorate Column are Fixed**

In [ ]:
SalesDf["Governorate"].unique()

array(['assiut', 'cairo', 'aswan', 'red sea', 'south sinai', 'giza',
       'sharqia', 'gharbia', 'alexandria', 'qalyubia', 'luxor',
       'dakahlia'], dtype=object)

#**Converted lat/long values from string to float, fixed decimal commas, flagged coordinates, and swapped the wrong latitude and longitude**

In [ ]:
SalesDf[['Latitude', 'Longitude']] = SalesDf[['Latitude', 'Longitude']].applymap(lambda x: float(str(x).replace(',', '.')) if pd.notna(x) else pd.NA)

/tmp/ipython-input-3483825830.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  SalesDf[['Latitude', 'Longitude']] = SalesDf[['Latitude', 'Longitude']].applymap(lambda x: float(str(x).replace(',', '.')) if pd.notna(x) else pd.NA)

In [ ]:
SalesDf[['Latitude', 'Longitude']]

      Latitude  Longitude
0    31.183700  27.180000
1    30.085855  31.231585
2    27.217872  31.216867
3          NaN        NaN
4    27.293172  33.777343
..         ...        ...
145  28.543865  34.001116
146  31.280000  30.420000
147  31.019691  31.416599
148  28.499424  33.979843
149        NaN        NaN

[150 rows x 2 columns]

In [ ]:
SalesDf['LatLong_Swapped'] = ~SalesDf.apply(lambda row: -90 <= row['Latitude'] <= 90 and -180 <= row['Longitude'] <= 180, axis=1)

In [ ]:
SalesDf['LatLong_Swapped'].value_counts()

LatLong_Swapped
False    127
True      23
Name: count, dtype: int64

In [ ]:
SalesDf.loc[SalesDf['LatLong_Swapped'], ['Latitude', 'Longitude']] = SalesDf.loc[SalesDf['LatLong_Swapped'], ['Longitude', 'Latitude']].values

#**Invalid or partial Email**

In [ ]:
SalesDf["Email"].unique()

array(['mohamed.mahmoud@gmail', 'سارة.إبراهyمexample.com', 'nan',
       'aحمد.محمود@gmail.com', 'yوسف.راشد@example.com',
       'سارة.إبراهyم@gmail.com', 'aحمد.محمودexample.com',
       'alaa.mahmoud@gmail.com', 'كرyم.علy@gmail', 'dina.hassan@gmail',
       'youssef.rashid@gmail', 'نور.فتحyexample.com',
       'محمد.فتحy@example.com', 'ahmed.fathy@gmail.com',
       'محمد.محمود@gmail', 'sara.mahmoud@gmail.com',
       'هانy.راشد@gmail.com', 'هانy.علyexample.com',
       'mona.nasr@example.com', 'nour.fathy@gmail', 'mona.ibrahim@gmail',
       'منy.إبراهyم@gmail', 'yوسف.حسن@gmail', 'دyنا.محمود@example.com',
       'sara.faroukexample.com', 'yوسف.نصرexample.com',
       'علاء.فاروقexample.com', 'كرyم.حسن@gmail.com',
       'alaa.faroukexample.com', 'nour.mahmoud@gmail.com',
       'منy.علy@gmail', 'ahmed.ibrahim@example.com',
       'علاء.حسنexample.com', 'alaa.nasr@example.com', 'منy.محمود@gmail',
       'hany.ibrahimexample.com', 'نور.فاروق@gmail.com',
       'mohamed.nasrexample.com', 'علاء.إبراهyم@example.com',
       'nour.hassan@gmail', 'hany.aliexample.com',
       'alaa.hassan@gmail.com', 'mona.hassanexample.com',
       'hany.fathy@example.com', 'yوسف.علy@example.com', 'aحمد.نصر@gmail',
       'mohamed.rashid@gmail.com', 'dina.ibrahim@gmail.com',
       'ahmed.mahmoudexample.com', 'ahmed.ali@gmail',
       'mona.fathy@example.com', 'نور.راشدexample.com',
       'كرyم.إبراهyمexample.com', 'نور.راشد@gmail.com',
       'علاء.حسن@example.com', 'ahmed.aliexample.com',
       'dina.fathy@gmail.com', 'علاء.علy@gmail.com',
       'nour.ali@example.com', 'mona.hassan@gmail.com',
       'yوسف.نصر@example.com', 'mona.fathy@gmail.com',
       'محمد.حسنexample.com', 'نور.محمود@gmail', 'mona.ali@gmail.com',
       'nour.faroukexample.com', 'هانy.نصرexample.com',
       'محمد.محمود@example.com', 'كرyم.علy@example.com', 'aحمد.حسن@gmail',
       'aحمد.إبراهyم@gmail.com', 'منy.راشد@example.com',
       'سارة.علyexample.com', 'yوسف.علy@gmail', 'mohamed.ali@example.com',
       'منy.علy@gmail.com', 'كرyم.فتحy@example.com',
       'mona.nasr@gmail.com', 'karim.ibrahim@example.com',
       'aحمد.فتحyexample.com', 'dina.fathyexample.com',
       'karim.mahmoudexample.com', 'hany.hassanexample.com',
       'هانy.فاروقexample.com', 'منy.فاروقexample.com',
       'karim.ali@gmail.com', 'هانy.فتحyexample.com', 'sara.farouk@gmail',
       'alaa.fathy@gmail.com', 'dina.aliexample.com',
       'mohamed.nasr@example.com', 'mohamed.mahmoudexample.com',
       'نور.نصرexample.com', 'aحمد.راشد@gmail.com',
       'mona.fathyexample.com', 'nour.fathy@gmail.com',
       'ahmed.hassan@gmail', 'علاء.فاروق@example.com',
       'منy.راشدexample.com', 'كرyم.نصر@example.com',
       'aحمد.إبراهyم@gmail', 'ahmed.hassan@example.com',
       'aحمد.فاروق@gmail', 'mohamed.ibrahim@gmail',
       'nour.farouk@example.com', 'mona.mahmoud@gmail.com',
       'yوسف.فتحy@gmail', 'ahmed.mahmoud@gmail.com', 'منy.راشد@gmail.com',
       'alaa.mahmoud@example.com'], dtype=object)

#**Function For Adjusting Email Formate**

In [ ]:
from email_validator import validate_email, EmailNotValidError
from deep_translator import GoogleTranslator

def smart_email_cleaner(email):
    if not isinstance(email, str):
        return None

    email = email.strip()

    # Fix common typos
    if 'example.com' in email and '@' not in email:
        email = email.replace('example.com', '@example.com')
    if 'gmail' in email and '@' not in email:
        email = email.replace('gmail', '@gmail.com')

    # Translate only the name part
    parts = email.split('@')
    if len(parts) == 2:
        local, domain = parts
        try:
            local_translated = GoogleTranslator(source='auto', target='en').translate(local)
            email = f"{local_translated}@{domain}"
        except:
            pass  # If translation fails, keep original

    # Validate
    try:
        return validate_email(email, check_deliverability=False).email
    except EmailNotValidError:
        return email  # Keep original if invalid

**Applying to DF**

In [ ]:
SalesDf['Email_Cleaned'] = SalesDf['Email'].apply(smart_email_cleaner)

In [ ]:
SalesDf["Email_Cleaned"].unique()

array(['mohamed. mahmoud@gmail', 'Sarah. Ibrahim@example.com', 'nan',
       'Ahmed. Mahmoud@gmail.com', 'Youssef Rashid@example.com',
       'Sarah. Ibrahim@gmail.com', 'Ahmed. Mahmoud@example.com',
       'alaa. mahmoud@gmail.com', 'Thank you@gmail', 'dina. hassan@gmail',
       'youssef.rashid@gmail', 'Light. Fathy@example.com',
       'Muhammad.Fathy@example.com', 'ahmed.fathy@gmail.com',
       'Muhammad. Mahmoud@gmail', 'sara.mahmoud@gmail.com',
       'Hany.Rashed@gmail.com', 'Hany. Aliy@example.com',
       'mona.nasr@example.com', 'nour.fathy@gmail', 'mona.ibrahim@gmail',
       'From Y. Ibrahim@gmail', 'Yousef. Hasan@gmail',
       'Dr. Na Mahmoud@example.com', 'sara.farouk@example.com',
       'Youssef Nasr@example.com', 'Alaa Farouk@example.com',
       'Generous. Hassan@gmail.com', 'alaa. farouk@example.com',
       'nour.mahmoud@gmail.com', 'My.Aly@gmail',
       'ahmed.ibrahim@example.com', 'Alaa. Hassan@example.com',
       'alaa.nasr@example.com', 'My. Mahmoud@gmail',
       'only. ibrahim@example.com', 'Nour Farouk@gmail.com',
       'mohamed.nasr@example.com', 'Alaa. Ibrahim@example.com',
       'nour.hassan@gmail', 'only.ali@example.com',
       'alaa. hassan@gmail.com', 'mona. hassan@example.com',
       'only. fathy@example.com', 'yusf. Ali@example.com',
       'Ahmed Nasr@gmail', 'mohamed. rashid@gmail.com',
       'in. ibrahim@gmail.com', 'ahmed.mahmoud@example.com',
       'ahmed.ali@gmail', 'mona.fathy@example.com',
       'Nour Rashid@example.com', 'Ibrahim@example.com',
       'Nour Rashid@gmail.com', 'ahmed.ali@example.com',
       'dina.fathy@gmail.com', 'Alaa. Ali@gmail.com',
       'nour.ali@example.com', 'mona. hassan@gmail.com',
       'mona.fathy@gmail.com', 'Muhammad Hassan@example.com',
       'Nour. Mahmoud@gmail', 'mona.ali@gmail.com',
       'nour.farouk@example.com', 'Hany. Nasr@example.com',
       'Muhammad. Mahmoud@example.com', 'Thank you@example.com',
       'Ahmed.Hassan@gmail', 'Ahmed.Ibrahim@gmail.com',
       'My. Rashed@example.com', 'Sarah. Ali@example.com',
       'yusf. Ali@gmail', 'mohamed.ali@example.com', 'My.Aly@gmail.com',
       'Crym.openy@example.com', 'mona.nasr@gmail.com',
       'karim. ibrahim@example.com', 'Ahmed.Fathy@example.com',
       'dina.fathy@example.com', 'karim.mahmoud@example.com',
       'only. hassan@example.com', 'Hany Farouk@example.com',
       'From Y. Farouk@example.com', 'karim.ali@gmail.com',
       'Hany.openy@example.com', 'sara.farouk@gmail',
       'Alaa. fathy@gmail.com', 'dina.ali@example.com',
       'mohamed. mahmoud@example.com', 'Light. Victory@example.com',
       'Ahmed Rashid@gmail.com', 'nour.fathy@gmail.com',
       'ahmed. hassan@gmail', 'Karim Nasr@example.com',
       'Ahmed.Ibrahim@gmail', 'ahmed. hassan@example.com',
       'Ahmed Farouk@gmail', 'mohamed. ibrahim@gmail',
       'mona.mahmoud@gmail.com', 'Yosef. Fathy@gmail',
       'ahmed.mahmoud@gmail.com', 'My. Rashed@gmail.com',
       'alaa. mahmoud@example.com'], dtype=object)

In [ ]:
#SalesDf['Email_Cleaned'] = SalesDf['Email_Cleaned'].apply(
#    lambda x: str(x).replace(' ', '').strip().lower() if isinstance(x, str) else x
#)

In [ ]:
SalesDf['Email_Cleaned'] = SalesDf['Email_Cleaned'].apply(lambda x: (str(x).replace(' ', '').lower() + '.com') if isinstance(x, str) and '@' in x and '.com' not in x else str(x).replace(' ', '').lower() if isinstance(x, str) else x)

In [ ]:
SalesDf["Email"]=SalesDf["Email_Cleaned"]

#**ALL the Emails Are Consistant and Valide**

In [ ]:
SalesDf["Email_Cleaned"].unique()

array(['mohamed.mahmoud@gmail.com', 'sarah.ibrahim@example.com', 'nan',
       'ahmed.mahmoud@gmail.com', 'youssefrashid@example.com',
       'sarah.ibrahim@gmail.com', 'ahmed.mahmoud@example.com',
       'alaa.mahmoud@gmail.com', 'thankyou@gmail.com',
       'dina.hassan@gmail.com', 'youssef.rashid@gmail.com',
       'light.fathy@example.com', 'muhammad.fathy@example.com',
       'ahmed.fathy@gmail.com', 'muhammad.mahmoud@gmail.com',
       'sara.mahmoud@gmail.com', 'hany.rashed@gmail.com',
       'hany.aliy@example.com', 'mona.nasr@example.com',
       'nour.fathy@gmail.com', 'mona.ibrahim@gmail.com',
       'fromy.ibrahim@gmail.com', 'yousef.hasan@gmail.com',
       'dr.namahmoud@example.com', 'sara.farouk@example.com',
       'youssefnasr@example.com', 'alaafarouk@example.com',
       'generous.hassan@gmail.com', 'alaa.farouk@example.com',
       'nour.mahmoud@gmail.com', 'my.aly@gmail.com',
       'ahmed.ibrahim@example.com', 'alaa.hassan@example.com',
       'alaa.nasr@example.com', 'my.mahmoud@gmail.com',
       'only.ibrahim@example.com', 'nourfarouk@gmail.com',
       'mohamed.nasr@example.com', 'alaa.ibrahim@example.com',
       'nour.hassan@gmail.com', 'only.ali@example.com',
       'alaa.hassan@gmail.com', 'mona.hassan@example.com',
       'only.fathy@example.com', 'yusf.ali@example.com',
       'ahmednasr@gmail.com', 'mohamed.rashid@gmail.com',
       'in.ibrahim@gmail.com', 'ahmed.ali@gmail.com',
       'mona.fathy@example.com', 'nourrashid@example.com',
       'ibrahim@example.com', 'nourrashid@gmail.com',
       'ahmed.ali@example.com', 'dina.fathy@gmail.com',
       'alaa.ali@gmail.com', 'nour.ali@example.com',
       'mona.hassan@gmail.com', 'mona.fathy@gmail.com',
       'muhammadhassan@example.com', 'mona.ali@gmail.com',
       'nour.farouk@example.com', 'hany.nasr@example.com',
       'muhammad.mahmoud@example.com', 'thankyou@example.com',
       'ahmed.hassan@gmail.com', 'ahmed.ibrahim@gmail.com',
       'my.rashed@example.com', 'sarah.ali@example.com',
       'yusf.ali@gmail.com', 'mohamed.ali@example.com',
       'crym.openy@example.com', 'mona.nasr@gmail.com',
       'karim.ibrahim@example.com', 'ahmed.fathy@example.com',
       'dina.fathy@example.com', 'karim.mahmoud@example.com',
       'only.hassan@example.com', 'hanyfarouk@example.com',
       'fromy.farouk@example.com', 'karim.ali@gmail.com',
       'hany.openy@example.com', 'sara.farouk@gmail.com',
       'alaa.fathy@gmail.com', 'dina.ali@example.com',
       'mohamed.mahmoud@example.com', 'light.victory@example.com',
       'ahmedrashid@gmail.com', 'karimnasr@example.com',
       'ahmed.hassan@example.com', 'ahmedfarouk@gmail.com',
       'mohamed.ibrahim@gmail.com', 'mona.mahmoud@gmail.com',
       'yosef.fathy@gmail.com', 'my.rashed@gmail.com',
       'alaa.mahmoud@example.com'], dtype=object)

#**Product/Category typos (e.g., “Electrnics”, “إلكترونيات”), SKU format variants/missing**

In [ ]:
SalesDf["ProductName"].unique()

array(['data warehousing 101', 'men t-shirt - تيشيرت',
       'air fryer 4l - قلاية', 'bluetooth سماعة',
       'puzzle 1000pcs - أحجية', 'organic زيت زيتون 1l',
       'laptop i7 16gb - لابتوب', 'smartphone a55 - هاتف',
       'football - كرة قدم', 'electric kettle - غلاية',
       'smartphone a55 - تليفون', 'labtop i7 16gb - لابتوب'], dtype=object)

In [ ]:
SalesDf["Category"].unique()

array(['books', 'fashion', 'home', 'electronics', 'toys', 'grocery',
       'electrnics', 'sports', 'إلكترونيات'], dtype=object)

In [ ]:
SalesDf['Category'] = SalesDf['Category'].apply(
    lambda x: 'electronics' if str(x).lower().strip() in ['electrnics', 'إلكترونيات', 'electronics'] else str(x).lower().strip()
)

In [ ]:
SalesDf["Category"].unique()

array(['books', 'fashion', 'home', 'electronics', 'toys', 'grocery',
       'sports'], dtype=object)

# **Standardize and Impute ProductSKU Values Based on ProductName**

In [ ]:
SalesDf['ProductSKU'].unique()

array(['book-900', 'fash-210', 'book900', 'home-102', 'nan', 'elec003',
       'toy-777', 'elec-001', 'elec-002', 'elec-003', 'fash210',
       'sprt301', 'home-101', 'toy777', 'home101', 'sprt-301', 'groc-501',
       'elec002', 'groc501', 'elec001', 'home102'], dtype=object)

**35 NULL entry in form of string**

In [ ]:
SalesDf['ProductSKU'].apply(lambda x: str(x).lower().strip() == 'nan').sum()

np.int64(35)

In [ ]:
SalesDf['ProductSKU'].apply(lambda x: x == 'book-900').sum()

np.int64(9)

#**Standardization**

---

In [ ]:
SalesDf['ProductSKU'] = SalesDf['ProductSKU'].apply(lambda x: str(x).replace('-', '').strip().lower() if pd.notna(x) else x)

In [ ]:
SalesDf['ProductSKU'].unique()

array(['book900', 'fash210', 'home102', 'nan', 'elec003', 'toy777',
       'elec001', 'elec002', 'sprt301', 'home101', 'groc501'],
      dtype=object)

**NULLS**
appears to have 0 nulls because they are strings 'nan' but the 'nan' appears in the .unique as entry in the column

In [ ]:
SalesDf['ProductSKU'] = SalesDf.groupby('ProductName')['ProductSKU'].transform(
    lambda group: group.replace('nan', np.nan).fillna(method='ffill').fillna(method='bfill')
)

/tmp/ipython-input-1409685333.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  lambda group: group.replace('nan', np.nan).fillna(method='ffill').fillna(method='bfill')

In [ ]:
SalesDf['ProductSKU'].unique()

array(['book900', 'fash210', 'home102', 'elec003', 'toy777', 'groc501',
       'elec001', 'elec002', 'sprt301', 'home101'], dtype=object)

# **ProductSKU have no issues left**

# **Currency**

In [ ]:
SalesDf['Currency'].unique()

array(['ج.م', 'egp', 'e£ 35564.57', 'e£', 'usd', 'usd 10930.9',
       'usd 1034.18', 'ج.م 67637.94', 'usd 1293.05', 'e£ 41982.116',
       'usd 51507.984000000004', 'egp 145935.24', 'e£ 1998.65',
       'e£ 95373.45', 'e£ 61003.33', 'usd 71287.912', 'usd 87.46',
       'e£ 38326.83', 'e£ 75509.0685', 'egp 98410.32', 'egp 7171.444',
       'ج.م 106755.28', 'ج.م 123945.77', 'egp 24877.57', 'egp 22540.86',
       'ج.م 10966.19', 'egp 56905.87', 'ج.م 115228.22999999998',
       'egp 163839.511', 'e£ 78208.7', 'ج.م 91116.16', 'egp 113751.165',
       'e£ 58102.682', 'ج.م 226644.3', 'ج.م 100.0', 'usd 255.61',
       'ج.م 103629.55', 'usd 51.79', 'e£ 17146.47', 'ج.م 40907.34',
       'ج.م 19213.17', 'egp 32678.7', 'ج.م 62899.26', 'egp 19878.56',
       'egp 8489.664', 'usd 941.31', 'usd 193036.37999999998',
       'egp 135644.08', 'usd 180172.4', 'egp 72897.65',
       'ج.م 114421.26400000001', 'e£ 27938.9', 'e£ 60411.76',
       'usd 10196.858', 'usd 1300.99', 'e£ 115758.61'], dtype=object)

#**Inspecting Unit Price**

In [ ]:
SalesDf.columns

Index(['OrderID', 'OrderDate', 'DeliveryDate', 'CustomerID', 'CustomerName',
       'Gender', 'Phone', 'Email', 'Governorate', 'City', 'Address',
       'Latitude', 'Longitude', 'ProductSKU', 'ProductName', 'Category',
       'UnitPrice', 'Quantity', 'Subtotal', 'Discount', 'TotalAmount',
       'Currency', 'PaymentMethod', 'PaymentStatus', 'ShipperName',
       'ShippingCost', 'SalesRep', 'Channel', 'ReturnFlag', 'ReturnDate',
       'Status', 'Notes', 'LatLong_Swapped', 'Email_Cleaned'],
      dtype='object')

In [ ]:
SalesDf['UnitPrice'].unique()

array(['30206.12', '37363.34', '43906.58', '23377.88', '29772.0',
       '4660.31', '11185.03', '20333.45', '22530.98', '4243.18',
       '33092.99', '15344.99', '4304.79', '29921.93', '35503.65',
       '24791.67', '11647.81', '39336.31', '44276.42', '26327.97',
       '4706.84', '44172.94', '40076.04', '30769.67', '32192.49',
       '40072.9', '31965.64', '2238.12', '1788.21', '18076.78',
       '41270.55', '9532.21', '7489.59', '49906.24', '33508.21',
       '39548.84', '3951.23', '36406.51', '34830.6', '23326.9',
       '26494.41', '37625.11', '27871.4', '48389.77', '19587.15',
       '18321.36', '1683.12', '49624.69', '49592.32', '43005.13',
       '31447.11', '24832.57', '46623.26', '22505.86', '2579.35',
       '38214.28', '18950.29', '17123.32', '2278.62', '5670.32',
       '8728.18', '33875.95', '21052.6', '31353.01', '33141.02',
       '42607.34', '25303.1', '35119.7', '34346.23', '10194.21',
       '5780.36', '26764.98', '32251.49', '45319.86', '25857.31',
       '43371.75', '12927.36', '18573.21', '17031.3', '38224.0',
       '42822.62', '11449.49', '6798.99', '42681.43', '34088.04',
       '35345.97', '28572.06', '32893.72', '39655.56', '12153.64',
       '10074.77', '28666.28', '9239.63', '23205.77', '659.78',
       '24208.97', '32300.33', '38787.88', '2583.77', '3349.69', '92.12',
       '1721.42', '6670.31', '47811.37', '12903.96', '16705.31',
       '12171.99', '34633.3', '16340.3', '45692.05', '31041.74',
       '24841.62', '18515.12', '30178.44', '11264.79', '13609.38',
       '23480.66', '5830.34', '31437.13', '3118.13', '2424.19',
       '41194.35', '7256.68', '46328.54', '9953.4', '2653.02', '13048.19',
       '10607.77', '4005.2', '43445.59', '24330.74', '17884.34',
       '7622.98', '10726.04', '3949.73', '45019.35', '24599.08',
       '45691.07', '31776.74', '5591.78', '47890.9', '22731.13',
       '30824.35', '5968.74', '27550.07', '36180.63', '31968.22',
       '19584.96', '41030.31', '28124.6'], dtype=object)

#**Transform Unit Price into Float instead of String to allow calculations**

In [ ]:
SalesDf['UnitPrice'] = SalesDf['UnitPrice'].astype('Float64')

#**Solving Quantity of 0 or negative; mismatched Subtotal vs. UnitPrice×Quantity**

#

 25  ShippingCost   133 non-null    float64
 26  SalesRep       150 non-null    object
 27  Channel        150 non-null    object
 28  ReturnFlag     150 non-null    object
 29  ReturnDate     4 non-null      object
 30  Status         134 non-null    object
 31  Notes

# **Payment Method**

In [ ]:
SalesDf['PaymentMethod'].unique()

array(['meeza', 'visa', 'فوري', 'mastercard', 'cod', 'cash'], dtype=object)

In [ ]:
SalesDf['PaymentMethod'] = SalesDf['PaymentMethod'].replace('فوري', 'Fawry')

#**Standardize Arabic Payment Method to English:**

In [ ]:
SalesDf['PaymentMethod'].value_counts()

PaymentMethod
visa          29
cash          28
meeza         25
Fawry         25
cod           22
mastercard    21
Name: count, dtype: int64

#**Standardize Arabic Payment Status to English:**

In [ ]:
SalesDf['PaymentStatus'].unique()

array(['paid', 'unpaid', 'مدفوع', 'pending', 'غير مدفوع'], dtype=object)

In [ ]:
SalesDf['PaymentStatus'] = SalesDf['PaymentStatus'].str.strip().str.lower().replace({
    'مدفوع': 'paid',
    'غير مدفوع': 'unpaid'
})

In [ ]:
SalesDf['PaymentStatus'].value_counts()

PaymentStatus
unpaid     64
paid       56
pending    30
Name: count, dtype: int64

#**convert the Arabic in Shipper Name Column**

In [ ]:
SalesDf["ShipperName"].unique()

array(['aramex', 'بريد مصر', 'dhl', 'fedex'], dtype=object)

In [ ]:
SalesDf['ShipperName'] = SalesDf['ShipperName'].replace('بريد مصر', 'Egypt Post')

In [ ]:
SalesDf['ShipperName'].value_counts()

ShipperName
aramex        47
Egypt Post    40
dhl           32
fedex         31
Name: count, dtype: int64

In [ ]:
SalesDf["SalesRep"].unique()

array(['سارة محمد', 'karim r.', 'ahmed ali', 'أحمد علي', 'a.ali',
       'mona-s'], dtype=object)

#**Since they are only 4 Sales Representitives we can use the mapping method no need for translation**

In [ ]:
SalesDf['SalesRep'] = SalesDf['SalesRep'].str.strip().str.lower().replace({'سارة محمد':'sarah mohamed','karim r.':'karim rashid','أحمد علي':'ahmed ali','a.ali':'ahmed ali','mona-s':'mona salah'})

In [ ]:
SalesDf['SalesRep'].value_counts()

SalesRep
ahmed ali        74
karim rashid     32
mona salah       28
sarah mohamed    16
Name: count, dtype: int64

# **Replaced the Arabic term تجارة إلكترونية with its English translation e-com to have unified naming**

In [ ]:
SalesDf["Channel"].unique()

array(['e-com', 'store', 'tel-sales', 'whatsapp', 'تجارة إلكترونية'],
      dtype=object)

In [ ]:
SalesDf['Channel'] = SalesDf['Channel'].str.strip().str.lower().replace({'تجارة إلكترونية': 'e-com'})

In [ ]:
SalesDf['Channel'].value_counts()

Channel
e-com        65
tel-sales    31
store        29
whatsapp     25
Name: count, dtype: int64

#**Standardize the ReturnFlag column**

In [ ]:
SalesDf['ReturnFlag'].unique()

array(['n', 'لا', 'نعم', '0', 'no', '1', 'y'], dtype=object)

In [ ]:
SalesDf['ReturnFlag'].value_counts()

ReturnFlag
n      128
no       6
لا       5
نعم      5
0        4
1        1
y        1
Name: count, dtype: int64

In [ ]:
SalesDf['ReturnFlag'] = SalesDf['ReturnFlag'].str.strip().str.lower().replace({'نعم':'yes','y':'yes','1':'yes','لا':'no','n':'no','0':'no','no':'no'})

#**We only have 2 status yes, no**

In [ ]:
SalesDf['ReturnFlag'].value_counts()

ReturnFlag
no     143
yes      7
Name: count, dtype: int64

# **Return Date Unification**

In [ ]:
SalesDf['ReturnDate'].unique()

array(['nan', '22/06/2024', '21 مارس 2024', '12/04/2024', '13 may 2024'],
      dtype=object)

In [ ]:
SalesDf['ReturnDate'] = SalesDf['ReturnDate'].apply(
    lambda x: pd.Timestamp('2024-06-22') if str(x).strip() == '22/06/2024' else
              pd.Timestamp('2024-04-12') if str(x).strip() == '12/04/2024' else
              pd.Timestamp('2024-11-13') if str(x).strip() == '11 13' else
              pd.Timestamp('2024-05-01') if 'may' in str(x).lower() or 'مايو' in str(x) else
              pd.NaT
)

In [ ]:
SalesDf.columns

Index(['OrderID', 'OrderDate', 'DeliveryDate', 'CustomerID', 'CustomerName',
       'Gender', 'Phone', 'Email', 'Governorate', 'City', 'Address',
       'Latitude', 'Longitude', 'ProductSKU', 'ProductName', 'Category',
       'UnitPrice', 'Quantity', 'Subtotal', 'Discount', 'TotalAmount',
       'Currency', 'PaymentMethod', 'PaymentStatus', 'ShipperName',
       'ShippingCost', 'SalesRep', 'Channel', 'ReturnFlag', 'ReturnDate',
       'Status', 'Notes', 'LatLong_Swapped', 'Email_Cleaned'],
      dtype='object')

In [ ]:
SalesDf['ReturnDate'].unique()

<DatetimeArray>
['NaT', '2024-06-22 00:00:00', '2024-04-12 00:00:00', '2024-05-01 00:00:00']
Length: 4, dtype: datetime64[ns]

# **Standardize Order Status Labels**

In [ ]:
SalesDf['Status'].unique()

array(['nan', 'delivered', 'ملغي', 'new', 'shipped', 'processing',
       'returned'], dtype=object)

In [ ]:
SalesDf['Status'].value_counts()

Status
shipped       29
ملغي          27
processing    26
delivered     20
returned      17
nan           16
new           15
Name: count, dtype: int64

In [ ]:
SalesDf['Status'] = SalesDf['Status'].str.strip().str.lower().replace({'ملغي': 'cancelled'})

In [ ]:
SalesDf['Status'].value_counts()

Status
shipped       29
cancelled     27
processing    26
delivered     20
returned      17
nan           16
new           15
Name: count, dtype: int64

#**- Translates Arabic Notes to English using translator object**

In [ ]:
SalesDf["Notes"].value_counts()

Notes
nan                                30
عنوان غير واضح - landmark: مسجد    25
customer asked for gift wrap       22
عميل قديم - خصم إضافي              22
deliver asap                       20
wrong phone / invalid              16
اتصل بنا قبل التوصيل               15
Name: count, dtype: int64

In [ ]:
SalesDf['Notes'] = SalesDf['Notes'].apply(lambda x: translator.translate(x, src='ar', dest='en').text if isinstance(x, str) and any('\u0600' <= c <= '\u06FF' for c in x) else x)

In [ ]:
tr = GoogleTranslator(source='auto', target='en')
SalesDf['Notes'] = SalesDf['Notes'].apply(lambda x: tr.translate(x) if isinstance(x, str) else x)

In [ ]:
SalesDf["Notes"].value_counts()

Notes
in                                    30
customer asked for gift wrap          22
Old customer - extra discount         22
Unclear address - landmark: mosque    21
deliver asap                          20
wrong phone / invalid                 16
Contact us before delivery            15
Unclear title - landmark: Mosque       4
Name: count, dtype: int64

#**multi-line addresses (embedded newlines) & Dealing with arabic words**

In [ ]:
SalesDf["Address"].unique()

array(['88\napt 18\nblock 7', '146\napt 46\nعمارة 7', '139 شارع tahrir',
       '186 شارع الهرم', '192\napt 21\nblock 2', '28\napt 48\nblock 9',
       '172 شارع nile', '130 st. الهرم', '119\napt 43\nعمارة 25',
       '125 street الهرم', '20\napt 38\nblock 4', '143 street الهرم',
       '88 street tahrir', '19 street nile', '160 st. الهرم',
       '147\napt 25\nblock 28', '63 شارع الهرم', '80\napt 29\nblock 19',
       '36 street tahrir', '4\napt 23\nblock 19', '107\napt 47\nblock 11',
       '145 شارع الهرم', '148\napt 28\nعمارة 23', '130\napt 5\nعمارة 15',
       '150\napt 43\nblock 30', '80\napt 31\nblock 12',
       '141\napt 47\nعمارة 4', '200\napt 44\nعمارة 23',
       '71\napt 41\nblock 3', '77\napt 11\nblock 26', '33 شارع النصر',
       '13\napt 19\nعمارة 28', '143 st. nile', '106\napt 45\nblock 14',
       '55\napt 13\nعمارة 30', '73 st. الهرم', '96 st. الهرم',
       '161\napt 44\nعمارة 18', '102\napt 16\nعمارة 25',
       '96\napt 4\nعمارة 22', '122 st. tahrir', '93\napt 7\nblock 1',
       '77\napt 21\nblock 16', '12 شارع الهرم', '102\napt 2\nblock 15',
       '99\napt 36\nعمارة 14', '83\napt 46\nعمارة 10', '145 st. النصر',
       '98 street nile', '5\napt 38\nblock 1', '198\napt 2\nعمارة 26',
       '3 st. nile', '180 شارع النصر', '20 street tahrir', '15 st. النصر',
       '78\napt 21\nblock 6', '148 شارع nile', '121\napt 32\nعمارة 3',
       '82\napt 47\nblock 3', '105 شارع الهرم', '65\napt 39\nعمارة 23',
       '47 st. tahrir', '2\napt 3\nblock 24', '30 st. الهرم',
       '26\napt 12\nblock 28', '135 شارع nile', '154 st. النصر',
       '36\napt 27\nعمارة 27', '58 شارع الهرم', '107 شارع الهرم',
       '143\napt 5\nblock 30', '42\napt 12\nblock 20', '138 street النصر',
       '27\napt 46\nعمارة 27', '15 street النصر', '197 st. النصر',
       '158 شارع tahrir', '71\napt 15\nblock 15', '68 street nile',
       '108 شارع النصر', '162\napt 10\nblock 21', '135\napt 11\nblock 2',
       '21\napt 28\nblock 17', '32 شارع nile', '82\napt 36\nعمارة 26',
       '25 شارع tahrir', '92 شارع الهرم', '68\napt 24\nblock 8',
       '22 st. الهرم', '53 شارع النصر', '58\napt 10\nعمارة 29',
       '60 شارع nile', '49\napt 19\nعمارة 13', '108 st. النصر',
       '75\napt 31\nblock 4', '176 st. النصر', '29 st. tahrir',
       '141 st. النصر', '78\napt 35\nعمارة 13', '77 شارع النصر',
       '116 st. النصر', '169\napt 19\nblock 10', '136\napt 28\nblock 10',
       '29\napt 45\nblock 9', '1 شارع الهرم', '55 شارع الهرم',
       '97 street tahrir', '138 street nile', '152 st. الهرم',
       '177\napt 22\nblock 10', '49 st. tahrir', '183 شارع النصر',
       '51\napt 2\nblock 18', '48\napt 25\nعمارة 18', '13 st. النصر',
       '20\napt 2\nعمارة 25', '105 street النصر', '125\napt 33\nعمارة 5',
       '87\napt 32\nعمارة 6', '119\napt 10\nblock 5', '199 شارع النصر',
       '113 شارع النصر', '22 st. النصر', '22 street الهرم',
       '43 st. الهرم', '182 شارع الهرم', '11 شارع النصر',
       '112\napt 35\nblock 1', '3\napt 7\nعمارة 14', '41 شارع الهرم',
       '113 st. tahrir', '165 street الهرم', '117\napt 7\nblock 23',
       '79 st. nile', '5\napt 18\nblock 8', '16\napt 21\nعمارة 18',
       '186\napt 36\nعمارة 29', '60\napt 32\nعمارة 2',
       '185 street tahrir', '98 st. tahrir', '14 st. النصر',
       '26 street nile', '103 شارع tahrir', '67 street النصر',
       '98\napt 14\nعمارة 3', '64 شارع النصر', '30\napt 46\nblock 11',
       '175 شارع tahrir'], dtype=object)

In [ ]:
SalesDf['Address'] = SalesDf['Address'].apply(lambda x: translator.translate(str(x).replace('\n', ' '), src='ar', dest='en').text if any('\u0600' <= c <= '\u06FF' for c in str(x)) else str(x).replace('\n', ' '))

#**Final Address Result**

In [ ]:
SalesDf['Address'].unique()

array(['88 apt 18 block 7', '146 apt 46 building 7', '139 Tahrir Street',
       '186 Haram Street', '192 apt 21 block 2', '28 apt 48 block 9',
       '172 nile street', '130 st.Pyramid', '119 apt 43 building 25',
       '125 street, Haram', '20 apt 38 block 4', '143 street Haram',
       '88 street tahrir', '19 street nile', '160 st.Pyramid',
       '147 apt 25 block 28', '63 Haram Street', '80 apt 29 block 19',
       '36 street tahrir', '4 apt 23 block 19', '107 apt 47 block 11',
       '145 Haram Street', '148 apt 28 building 23',
       '130 apt 5 building 15', '150 apt 43 block 30',
       '80 apt 31 block 12', '141 apt 47 building 4',
       '200 apt 44 building 23', '71 apt 41 block 3',
       '77 apt 11 block 26', '33 Al-Nasr Street', '13 apt 19 building 28',
       '143 st. nile', '106 apt 45 block 14', '55 apt 13 building 30',
       '73 st.Pyramid', '96 st.Pyramid', '161 apt 44 building 18',
       '102 apt 16 building 25', '96 apt 4 building 22', '122 st. tahrir',
       '93 apt 7 block 1', '77 apt 21 block 16', '12 Haram Street',
       '102 apt 2 block 15', '99 apt 36 building 14',
       '83 apt 46 building 10', '145 st.Victory', '98 street nile',
       '5 apt 38 block 1', '198 apt 2 building 26', '3 st. nile',
       '180 Al-Nasr Street', '20 street tahrir', '15 st.Victory',
       '78 apt 21 block 6', '148 nile street', '121 apt 32 building 3',
       '82 apt 47 block 3', '105 Haram Street', '65 apt 39 building 23',
       '47 st. tahrir', '2 apt 3 block 24', '30 st.Pyramid',
       '26 apt 12 block 28', '135 nile street', '154 st.Victory',
       '36 apt 27 building 27', '58 Haram Street', '107 Haram Street',
       '143 apt 5 block 30', '42 apt 12 block 20', '138 street Al-Nasr',
       '27 apt 46 building 27', '15 street victory', '197 st.Victory',
       '158 Tahrir Street', '71 apt 15 block 15', '68 street nile',
       '108 Al-Nasr Street', '162 apt 10 block 21', '135 apt 11 block 2',
       '21 apt 28 block 17', '32 nile street', '82 apt 36 building 26',
       '25 Tahrir Street', '92 Haram Street', '68 apt 24 block 8',
       '22 st.Pyramid', '53 Al-Nasr Street', '58 apt 10 building 29',
       '60 nile street', '49 apt 19 building 13', '108 st.Victory',
       '75 apt 31 block 4', '176 st.Victory', '29 st. tahrir',
       '141 st.Victory', '78 apt 35 building 13', '77 Al-Nasr Street',
       '116 st.Victory', '169 apt 19 block 10', '136 apt 28 block 10',
       '29 apt 45 block 9', '1 Haram Street', '55 Haram Street',
       '97 street tahrir', '138 street nile', '152 st.Pyramid',
       '177 apt 22 block 10', '49 st. tahrir', '183 Al-Nasr Street',
       '51 apt 2 block 18', '48 apt 25 building 18', '13 st.Victory',
       '20 apt 2 building 25', '105 street victory',
       '125 apt 33 building 5', '87 apt 32 building 6',
       '119 apt 10 block 5', '199 Al-Nasr Street', '113 Al-Nasr Street',
       '22 st.Victory', '22 Haram street', '43 st.Pyramid',
       '182 Haram Street', '11 Al-Nasr Street', '112 apt 35 block 1',
       '3 apt 7 building 14', '41 Haram Street', '113 st. tahrir',
       '165 Haram street', '117 apt 7 block 23', '79 st. nile',
       '5 apt 18 block 8', '16 apt 21 building 18',
       '186 apt 36 building 29', '60 apt 32 building 2',
       '185 street tahrir', '98 st. tahrir', '14 st.Victory',
       '26 street nile', '103 Tahrir Street', '67 street victory',
       '98 apt 14 building 3', '64 Al-Nasr Street', '30 apt 46 block 11',
       '175 Tahrir Street'], dtype=object)

#**Discount as value / percent string / decimal rate**

In [ ]:
SalesDf["Discount"].value_counts()

Discount
20      25
0       16
15%     16
0.1     15
10%     14
0.05    13
5       13
15      13
0.2      9
5%       9
10       7
Name: count, dtype: int64

In [ ]:
SalesDf['Discount'] = SalesDf['Discount'].apply(lambda x: float(str(x).replace('%', '')) / 100 if '%' in str(x) else float(str(x)))

In [ ]:
SalesDf["Discount"].value_counts()

Discount
0.10     29
20.00    25
0.05     22
0.15     16
0.00     16
15.00    13
5.00     13
0.20      9
10.00     7
Name: count, dtype: int64

#**Standardized mixed discount formats by converting percentage strings, whole numbers, and decimals into decimal**

#**Solving Quantity of 0 or negative; mismatched Subtotal vs. UnitPrice×Quantity**

In [ ]:
SalesDf['Quantity'].unique()

array(['4', '5', '1', '2', '3', '-1', '0', '10'], dtype=object)

In [ ]:
SalesDf['Quantity'].apply(lambda x: x == '0').sum()

np.int64(4)

**Transform Quantity from object to Int**

In [ ]:
SalesDf[(SalesDf['Quantity'] == 0) | (SalesDf['Quantity'] == -1)][['Quantity', 'UnitPrice', 'Subtotal', 'ReturnFlag','TotalAmount']]

Empty DataFrame
Columns: [Quantity, UnitPrice, Subtotal, ReturnFlag, TotalAmount]
Index: []

In [ ]:
SalesDf['Quantity'] = SalesDf['Quantity'].astype('Int64')

In [ ]:
if 'ReturnFlag' not in SalesDf: SalesDf['ReturnFlag'] = 'no'
SalesDf['ReturnFlag'] = SalesDf['ReturnFlag'].astype(str).str.strip().str.lower()
SalesDf['Quantity'] = pd.to_numeric(SalesDf['Quantity'], errors='coerce')

SalesDf.loc[SalesDf['ReturnFlag']=='yes', 'Quantity'] = 0
SalesDf.loc[(SalesDf['ReturnFlag']!='yes') & (SalesDf['Quantity']==-1), 'Quantity'] = 1
SalesDf.loc[(SalesDf['ReturnFlag']!='yes') & (SalesDf['Quantity'].isna() | (SalesDf['Quantity']==0)), 'Quantity'] = 1

In [ ]:
SalesDf['Quantity'].unique()

<IntegerArray>
[4, 5, 1, 2, 3, 10, 0]
Length: 7, dtype: Int64

In [ ]:
SubTotalNew= SalesDf.eval("UnitPrice * Quantity")

/tmp/ipython-input-3887973959.py:1: RuntimeWarning: Engine has switched to 'python' because numexpr does not support extension array dtypes. Please set your engine to python manually.
  SubTotalNew= SalesDf.eval("UnitPrice * Quantity")

In [ ]:
for c in ['Quantity','UnitPrice','Subtotal']:
    SalesDf[c] = pd.to_numeric(
        SalesDf[c].astype(str).str.replace(r'[^0-9\.-]', '', regex=True),
        errors='coerce'
    )

In [ ]:
FillNew= SalesDf['Subtotal'].isna() | (~np.isclose(SalesDf['Subtotal'].fillna(SubTotalNew), SubTotalNew, atol=1e-6))

In [ ]:
print(SalesDf.loc[FillNew, ['Quantity','UnitPrice','Subtotal']].to_string(index=True))

     Quantity  UnitPrice   Subtotal
0           4   30206.12  121699.93
3           1   23377.88        NaN
4           2   29772.00        NaN
5           3    4660.31   12706.11
7           3   20333.45   58400.68
8           3   22530.98        NaN
9           4    4243.18   15892.34
10          1   33092.99  -29867.43
11          4   15344.99   62036.39
12          1    4304.79        NaN
15          1   24791.67  -26624.77
17          3   39336.31  118737.10
18          4   44276.42  181202.21
19          4   26327.97  104222.43
20          1    4706.84        NaN
21          1   44172.94   45709.88
23          4   30769.67        NaN
24          2   32192.49        NaN
25          5   40072.90  182419.05
26          1   31965.64   29477.80
27          1    2238.12    2155.58
28          1    1788.21        NaN
29          4   18076.78        NaN
30          1   41270.55        NaN
31         10    9532.21   95298.45
32          2    7489.59        NaN
34          2   33508.21   61018.33
35          2   39548.84        NaN
36          1    3951.23        NaN
37          0   36406.51   38271.83
38          3   34830.60        NaN
39          4   23326.90   98189.99
40          3   26494.41        NaN
41          0   37625.11  163409.61
42          1   27871.40   25230.65
43          3   48389.77  141570.72
45          2   18321.36   34901.12
46          5    1683.12    7857.16
48          2   49592.32  106765.28
50          4   31447.11  123865.77
51          1   24832.57        NaN
52          1   46623.26        NaN
54          4    2579.35   10981.19
55          5   38214.28  204312.84
56          3   18950.29        NaN
57          2   17123.32        NaN
58          3    2278.62    6461.59
59          2    5670.32        NaN
62          3   21052.60   60133.29
63          1   31353.01  -31353.01
64          5   33141.02  172357.38
65          2   42607.34   82294.56
67          0   35119.70        NaN
68          2   34346.23        NaN
69          4   10194.21        NaN
70          2    5780.36        NaN
71          5   26764.98        NaN
73          5   45319.86        NaN
74          2   25857.31   51883.95
75          0   43371.75        NaN
77          4   18573.21   80692.20
78          5   17031.30        NaN
79          0   38224.00   40884.47
81          3   11449.49        NaN
82          5    6798.99        NaN
83          5   42681.43  196776.60
84          3   34088.04        NaN
86          4   28572.06        NaN
87          5   32893.72  162594.06
88          2   39655.56   80821.70
89          4   12153.64        NaN
90          3   10074.77        NaN
91          3   28666.28   93046.19
95          3   24208.97   71567.34
96          4   32300.33        NaN
97          2   38787.88        NaN
99          1    3349.69       0.00
100         3      92.12     254.79
103         3   47811.37  138699.85
104         3   12903.96   40857.34
105         1   16705.31        NaN
107         5   34633.30  173966.07
108         1   16340.30       0.00
110         1   31041.74        NaN
112         1   18515.12   19128.17
113         1   30178.44   32643.70
114         2   11264.79        NaN
115         3   13609.38        NaN
116         0   23480.66        NaN
117         5    5830.34        NaN
119         2    3118.13    6656.50
120         4    2424.19        NaN
122         5    7256.68   35844.19
124         2    9953.40        NaN
125         4    2653.02        NaN
126         4   13048.19   48184.61
129         5   43445.59  227042.80
130         5   24330.74  132244.41
131         1   17884.34   18981.78
133         3   10726.04        NaN
134         4    3949.73        NaN
135         4   45019.35        NaN
136         3   24599.08   72867.65
137         2   45691.07        NaN
138         0   31776.74        NaN
139         5    5591.78        NaN
140         2   47890.90   89354.49
144         2   27550.07        NaN
145         4   36180.63        NaN
146         2   31968.22        NaN
148         2   41030.31        NaN
149         4   28124.60  122270.63

In [ ]:
SalesDf.loc[FillNew, 'Subtotal'] = SubTotalNew[FillNew]

#**Now they are Matching**

In [ ]:
print(SalesDf.loc[FillNew, ['Quantity','UnitPrice','Subtotal']].to_string(index=True))

     Quantity  UnitPrice   Subtotal
0           4   30206.12  120824.48
3           1   23377.88   23377.88
4           2   29772.00   59544.00
5           3    4660.31   13980.93
7           3   20333.45   61000.35
8           3   22530.98   67592.94
9           4    4243.18   16972.72
10          1   33092.99   33092.99
11          4   15344.99   61379.96
12          1    4304.79    4304.79
15          1   24791.67   24791.67
17          3   39336.31  118008.93
18          4   44276.42  177105.68
19          4   26327.97  105311.88
20          1    4706.84    4706.84
21          1   44172.94   44172.94
23          4   30769.67  123078.68
24          2   32192.49   64384.98
25          5   40072.90  200364.50
26          1   31965.64   31965.64
27          1    2238.12    2238.12
28          1    1788.21    1788.21
29          4   18076.78   72307.12
30          1   41270.55   41270.55
31         10    9532.21   95322.10
32          2    7489.59   14979.18
34          2   33508.21   67016.42
35          2   39548.84   79097.68
36          1    3951.23    3951.23
37          0   36406.51       0.00
38          3   34830.60  104491.80
39          4   23326.90   93307.60
40          3   26494.41   79483.23
41          0   37625.11       0.00
42          1   27871.40   27871.40
43          3   48389.77  145169.31
45          2   18321.36   36642.72
46          5    1683.12    8415.60
48          2   49592.32   99184.64
50          4   31447.11  125788.44
51          1   24832.57   24832.57
52          1   46623.26   46623.26
54          4    2579.35   10317.40
55          5   38214.28  191071.40
56          3   18950.29   56850.87
57          2   17123.32   34246.64
58          3    2278.62    6835.86
59          2    5670.32   11340.64
62          3   21052.60   63157.80
63          1   31353.01   31353.01
64          5   33141.02  165705.10
65          2   42607.34   85214.68
67          0   35119.70       0.00
68          2   34346.23   68692.46
69          4   10194.21   40776.84
70          2    5780.36   11560.72
71          5   26764.98  133824.90
73          5   45319.86  226599.30
74          2   25857.31   51714.62
75          0   43371.75       0.00
77          4   18573.21   74292.84
78          5   17031.30   85156.50
79          0   38224.00       0.00
81          3   11449.49   34348.47
82          5    6798.99   33994.95
83          5   42681.43  213407.15
84          3   34088.04  102264.12
86          4   28572.06  114288.24
87          5   32893.72  164468.60
88          2   39655.56   79311.12
89          4   12153.64   48614.56
90          3   10074.77   30224.31
91          3   28666.28   85998.84
95          3   24208.97   72626.91
96          4   32300.33  129201.32
97          2   38787.88   77575.76
99          1    3349.69    3349.69
100         3      92.12     276.36
103         3   47811.37  143434.11
104         3   12903.96   38711.88
105         1   16705.31   16705.31
107         5   34633.30  173166.50
108         1   16340.30   16340.30
110         1   31041.74   31041.74
112         1   18515.12   18515.12
113         1   30178.44   30178.44
114         2   11264.79   22529.58
115         3   13609.38   40828.14
116         0   23480.66       0.00
117         5    5830.34   29151.70
119         2    3118.13    6236.26
120         4    2424.19    9696.76
122         5    7256.68   36283.40
124         2    9953.40   19906.80
125         4    2653.02   10612.08
126         4   13048.19   52192.76
129         5   43445.59  217227.95
130         5   24330.74  121653.70
131         1   17884.34   17884.34
133         3   10726.04   32178.12
134         4    3949.73   15798.92
135         4   45019.35  180077.40
136         3   24599.08   73797.24
137         2   45691.07   91382.14
138         0   31776.74       0.00
139         5    5591.78   27958.90
140         2   47890.90   95781.80
144         2   27550.07   55100.14
145         4   36180.63  144722.52
146         2   31968.22   63936.44
148         2   41030.31   82060.62
149         4   28124.60  112498.40

#**Currency as code/symbol or full value string (including USD)**

In [ ]:
SalesDf["Currency"].unique()

array(['ج.م', 'egp', 'e£ 35564.57', 'e£', 'usd', 'usd 10930.9',
       'usd 1034.18', 'ج.م 67637.94', 'usd 1293.05', 'e£ 41982.116',
       'usd 51507.984000000004', 'egp 145935.24', 'e£ 1998.65',
       'e£ 95373.45', 'e£ 61003.33', 'usd 71287.912', 'usd 87.46',
       'e£ 38326.83', 'e£ 75509.0685', 'egp 98410.32', 'egp 7171.444',
       'ج.م 106755.28', 'ج.م 123945.77', 'egp 24877.57', 'egp 22540.86',
       'ج.م 10966.19', 'egp 56905.87', 'ج.م 115228.22999999998',
       'egp 163839.511', 'e£ 78208.7', 'ج.م 91116.16', 'egp 113751.165',
       'e£ 58102.682', 'ج.م 226644.3', 'ج.م 100.0', 'usd 255.61',
       'ج.م 103629.55', 'usd 51.79', 'e£ 17146.47', 'ج.م 40907.34',
       'ج.م 19213.17', 'egp 32678.7', 'ج.م 62899.26', 'egp 19878.56',
       'egp 8489.664', 'usd 941.31', 'usd 193036.37999999998',
       'egp 135644.08', 'usd 180172.4', 'egp 72897.65',
       'ج.م 114421.26400000001', 'e£ 27938.9', 'e£ 60411.76',
       'usd 10196.858', 'usd 1300.99', 'e£ 115758.61'], dtype=object)

In [ ]:
SalesDf['Currency'] = SalesDf['Currency'].apply(lambda x: 'usd' if 'usd' in str(x).lower() else 'egp' if any(c in str(x).lower() for c in ['ج.م', 'e£', 'egp']) else pd.NA)

#**The Currency only includes data about if it is Egp or USD because we already have the TotalAmount column no need for redundant numbers in the currency column**

In [ ]:
SalesDf['Currency'].value_counts()

Currency
egp    104
usd     46
Name: count, dtype: int64

#**DataFrame After Cleaning**

In [ ]:
SalesDf.head()

,OrderID,OrderDate,DeliveryDate,CustomerID,CustomerName,Gender,Phone,Email,Governorate,City,...,ShipperName,ShippingCost,SalesRep,Channel,ReturnFlag,ReturnDate,Status,Notes,LatLong_Swapped,Email_Cleaned
0,so93810,2024-01-29 00:00:00,2024-02-02 00:00:00,c575,mohamed mahmoud,male,nan,mohamed.mahmoud@gmail.com,assiut,manfalut,...,aramex,nan,sarah mohamed,e-com,no,NaT,nan,wrong phone / invalid,False,mohamed.mahmoud@gmail.com
1,so59823,2024-03-12 00:00:00,2024-03-15 00:00:00,c1077,sarah ibrahim,female,01284752529,sarah.ibrahim@example.com,cairo,heliopolis,...,Egypt Post,100.0,karim rashid,store,no,NaT,delivered,Unclear address - landmark: mosque,False,sarah.ibrahim@example.com
2,so11504,2024-06-23 00:00:00,2024-07-02 00:00:00,c1020,karim ibrahim,male,nan,nan,assiut,abnoub,...,dhl,25.0,karim rashid,e-com,no,NaT,cancelled,deliver asap,False,nan
3,so77839,nat,2024-05-01 00:00:00,c1028,ahmed mahmoud,male,nan,ahmed.mahmoud@gmail.com,aswan,kom ombo,...,dhl,25.0,ahmed ali,tel-sales,no,NaT,new,in,True,ahmed.mahmoud@gmail.com
4,so80855,2024-01-04 00:00:00,2024-01-08 00:00:00,c521,alaa rashid,male,011 4828 5503,nan,red sea,safaga,...,dhl,0.0,sarah mohamed,whatsapp,no,NaT,cancelled,Unclear address - landmark: mosque,False,nan

In [ ]:
print(SalesDf['OrderID'].duplicated().sum())

14

In [ ]:
print(SalesDf[SalesDf['OrderID'].duplicated(keep=False)])

     OrderID            OrderDate         DeliveryDate CustomerID  \
3    so77839                  nat  2024-05-01 00:00:00      c1028
5    so19508                  nat  2024-01-03 00:00:00      c1016
6    so15229  2024-04-01 00:00:00  2024-04-03 00:00:00      c1079
7    so77839  2024-03-29 00:00:00  2024-04-08 00:00:00      c1024
9    so15229  2024-03-25 00:00:00  2024-01-29 00:00:00        nan
14   so63523  2024-03-26 00:00:00  2024-03-29 00:00:00      c1097
19   so15229  2024-06-13 00:00:00  2024-06-13 00:00:00        nan
22   so63523  2024-06-02 00:00:00  2024-06-06 00:00:00        nan
25   so77839                  nat  2024-05-18 00:00:00       c576
26   so13495  2024-04-16 00:00:00  2024-04-20 00:00:00        nan
29   so19508  2024-05-07 00:00:00  2024-05-07 00:00:00        nan
42   so52778  2024-01-08 00:00:00  2024-01-16 00:00:00        nan
60   so13495  2024-06-25 00:00:00  2024-06-30 00:00:00       c535
73   so57774  2024-03-21 00:00:00  2024-03-25 00:00:00        nan
74   so28398  2024-04-24 00:00:00  2024-05-04 00:00:00      c1045
75   so88908  2024-01-31 00:00:00  2024-02-06 00:00:00      c1026
83   so57774  2024-02-04 00:00:00  2024-02-05 00:00:00       c501
89   so28398  2024-01-11 00:00:00  2024-01-17 00:00:00        nan
92   so88908  2024-01-31 00:00:00  2024-02-03 00:00:00       c538
96   so77839  2024-04-29 00:00:00  2024-05-13 00:00:00       c542
102  so80673  2024-05-28 00:00:00  2024-06-03 00:00:00        nan
115  so84130  2024-04-21 00:00:00  2024-05-03 00:00:00      c1002
131  so52778  2024-02-19 00:00:00  2024-02-28 00:00:00        nan
138  so84130                  nat  2024-05-01 00:00:00       c576
143  so80673  2024-01-08 00:00:00  2024-01-16 00:00:00      c1005

         CustomerName  Gender          Phone                         Email  \
3       ahmed mahmoud    male            nan       ahmed.mahmoud@gmail.com
5      youssef rashid    male            nan     youssefrashid@example.com
6       sarah ibrahim  female    01065337219       sarah.ibrahim@gmail.com
7       ahmed mahmoud    male            nan     ahmed.mahmoud@example.com
9        ahmed farouk  female            nan                           nan
14     youssef rashid  female            nan      youssef.rashid@gmail.com
19      sarah mahmoud  female    01210380581        sara.mahmoud@gmail.com
22          mona nasr  female    01284990607         mona.nasr@example.com
25       mona ibrahim    male    01158895439        mona.ibrahim@gmail.com
26       mona ibrahim  female  012 2862 8439       fromy.ibrahim@gmail.com
29       dina mahmoud    male  011 3317 3544      dr.namahmoud@example.com
42        alaa hassan    male    01019865900       alaa.hassan@example.com
60   muhammad mahmoud    male  011 4616 0937                           nan
73         dina fathi    male    01184044139          dina.fathy@gmail.com
74       sarah hassan  female    01099736040                           nan
75           alaa ali  female    01289503557            alaa.ali@gmail.com
83       nour mahmoud    male            nan        nour.mahmoud@gmail.com
89   muhammad mahmoud    male    01027742113  muhammad.mahmoud@example.com
92      karim ibrahim    male    01034796255                           nan
96          sarah ali    male    01119104802         sarah.ali@example.com
102    youssef rashid    male    01290213415                           nan
115       mona farouk  female    01131918943      fromy.farouk@example.com
131       alaa farouk    male    01237811066        alaafarouk@example.com
138       alaa farouk    male    01278495121        alaafarouk@example.com
143      mona mahmoud  female    01184424395        mona.mahmoud@gmail.com

     Governorate        City  ... ShipperName  ShippingCost       SalesRep  \
3          aswan    kom ombo  ...         dhl          25.0      ahmed ali
5        red sea      safaga  ...      aramex          50.0      ahmed ali
6    south sinai       dahab  ...      aramex          50.0      ahmed ali
7        red sea    hurghada  ...      aramex           nan      ahmed ali
9         assiut    manfalut  ...      aramex          75.0     mona salah
14       sharqia     zagazig  ...       fedex          75.0     mona salah
19    alexandria     stanley  ...       fedex          75.0     mona salah
22       sharqia  abu hammad  ...         dhl          75.0      ahmed ali
25         luxor        esna  ...  Egypt Post           0.0   karim rashid
26         luxor      armant  ...      aramex           nan   karim rashid
29       red sea      safaga  ...         dhl           0.0      ahmed ali
42    alexandria     montaza  ...         dhl         100.0   karim rashid
60       red sea    hurghada  ...  Egypt Post          50.0  sarah mohamed
73       red sea    hurghada  ...      aramex          50.0     mona salah
74      qalyubia     qanater  ...         dhl          75.0      ahmed ali
75       red sea    hurghada  ...  Egypt Post         100.0   karim rashid
83       sharqia     zagazig  ...      aramex           nan      ahmed ali
89      dakahlia    mansoura  ...       fedex          75.0      ahmed ali
92         luxor        esna  ...      aramex           0.0      ahmed ali
96       gharbia  el mahalla  ...       fedex          75.0   karim rashid
102        aswan        edfu  ...  Egypt Post           nan      ahmed ali
115     qalyubia     qanater  ...         dhl           0.0      ahmed ali
131      red sea      safaga  ...       fedex          25.0      ahmed ali
138   alexandria      smouha  ...      aramex          25.0   karim rashid
143       assiut      abnoub  ...         dhl          50.0   karim rashid

       Channel ReturnFlag ReturnDate      Status  \
3    tel-sales         no        NaT         new
5        e-com         no        NaT         new
6        e-com         no        NaT         nan
7        e-com         no        NaT         new
9        store         no        NaT     shipped
14   tel-sales         no        NaT    returned
19       store         no        NaT   delivered
22       e-com         no        NaT  processing
25       e-com         no        NaT  processing
26    whatsapp         no        NaT   cancelled
29       store         no        NaT     shipped
42       e-com         no        NaT  processing
60       store         no        NaT   delivered
73    whatsapp         no        NaT    returned
74       store         no        NaT  processing
75       e-com        yes        NaT    returned
83       store         no        NaT   delivered
89    whatsapp         no        NaT         nan
92   tel-sales         no        NaT     shipped
96       e-com         no        NaT     shipped
102      e-com         no        NaT         new
115      e-com         no        NaT    returned
131      e-com         no        NaT         new
138  tel-sales        yes 2024-05-01    returned
143   whatsapp         no        NaT         new

                                  Notes  LatLong_Swapped  \
3                                    in             True
5    Unclear address - landmark: mosque            False
6                                    in            False
7                 wrong phone / invalid            False
9                 wrong phone / invalid            False
14           Contact us before delivery            False
19         customer asked for gift wrap             True
22                         deliver asap            False
25                                   in            False
26         customer asked for gift wrap            False
29           Contact us before delivery            False
42     Unclear title - landmark: Mosque            False
60                                   in            False
73           Contact us before delivery            False
74           Contact us before delivery            False
75        Old customer - extra discount            False
83                                   in            False
89                                   in            False
92                                   in            False
96         customer asked for gift wrap            False
102          Contact us before delivery             True
115        customer asked for gift wrap            False
131                                  in            False
138        customer asked for gift wrap            False
143  Unclear address - landmark: mosque            False

                    Email_Cleaned
3         ahmed.mahmoud@gmail.com
5       youssefrashid@example.com
6         sarah.ibrahim@gmail.com
7       ahmed.mahmoud@example.com
9                             nan
14       youssef.rashid@gmail.com
19         sara.mahmoud@gmail.com
22          mona.nasr@example.com
25         mona.ibrahim@gmail.com
26        fromy.ibrahim@gmail.com
29       dr.namahmoud@example.com
42        alaa.hassan@example.com
60                            nan
73           dina.fathy@gmail.com
74                            nan
75             alaa.ali@gmail.com
83         nour.mahmoud@gmail.com
89   muhammad.mahmoud@example.com
92                            nan
96          sarah.ali@example.com
102                           nan
115      fromy.farouk@example.com
131        alaafarouk@example.com
138        alaafarouk@example.com
143        mona.mahmoud@gmail.com

[25 rows x 34 columns]

In [ ]:
SalesDf = SalesDf.sort_values(by=['OrderDate', 'CustomerID', 'Email', 'Phone'], ascending=[False, False, False, False]).drop_duplicates(subset='OrderID', keep='first')

In [ ]:
print(SalesDf['OrderID'].duplicated().sum())

0

#**Products_Raw**
---

In [ ]:
ProductDf = dataSheets.parse('Products_Raw')

# **Primary Inspection DF head,tail**

In [ ]:
ProductDf.head()

        SKU              ProductName     Category
0  ELEC-001  Laptop i7 16GB - لابتوب  electronics
1  elec-001  LAPTOP I7 16GB - لابتوب   إلكترونيات
2  ELEC-001  Labtop i7 16GB - لابتوب  electronics
3  elec-002    Smartphone A55 - هاتف   Electrnics
4   ELEC002    Smartphone A55 - هاتف   إلكترونيات

In [ ]:
ProductDf.tail()

        SKU             ProductName Category
25  HOME102    Air Fryer 4L - قلاية     home
26  HOME102    AIR FRYER 4L - قلاية     Home
27  TOY-777  PUZZLE 1000PCS - أحجية     Toys
28  TOY-777  PUZZLE 1000PCS - أحجية     Toys
29  TOY-777  Puzzle 1000pcs - أحجية     toys

In [ ]:
ProductDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SKU          30 non-null     object
 1   ProductName  30 non-null     object
 2   Category     30 non-null     object
dtypes: object(3)
memory usage: 852.0+ bytes

In [ ]:
ProductDf.isna().sum()[ProductDf.isna().sum() > 1]

Series([], dtype: int64)

#**Product/Category typos (e.g., “Electrnics”, “إلكترونيات”), SKU format variants/missing**

In [ ]:
ProductDf["ProductName"].unique()

array(['Laptop i7 16GB - لابتوب', 'LAPTOP I7 16GB - لابتوب',
       'Labtop i7 16GB - لابتوب', 'Smartphone A55 - هاتف',
       'Electric Kettle - غلاية', 'ELECTRIC KETTLE - غلاية',
       'Organic زيت زيتون 1L', 'Men T-Shirt - تيشيرت',
       'FOOTBALL - كرة قدم', 'Football - كرة قدم', 'Data Warehousing 101',
       'DATA WAREHOUSING 101', 'BLUETOOTH سماعة', 'Bluetooth سماعة',
       'Air Fryer 4L - قلاية', 'AIR FRYER 4L - قلاية',
       'PUZZLE 1000PCS - أحجية', 'Puzzle 1000pcs - أحجية'], dtype=object)

In [ ]:
ProductDf["Category"].unique()

array(['electronics', 'إلكترونيات', 'Electrnics', 'Home', 'grocery',
       'Grocery', 'Fashion', 'sports', 'Books', 'books', 'home', 'Toys',
       'toys'], dtype=object)

In [ ]:
ProductDf['Category'] = ProductDf['Category'].apply(
    lambda x: 'electronics' if str(x).lower().strip() in ['electrnics', 'إلكترونيات', 'electronics'] else str(x).lower().strip()
)

In [ ]:
ProductDf["Category"].unique()

array(['electronics', 'home', 'grocery', 'fashion', 'sports', 'books',
       'toys'], dtype=object)

# **Standardize and Impute ProductSKU Values Based on ProductName**

In [ ]:
ProductDf['SKU'].unique()

array(['ELEC-001', 'elec-001', 'elec-002', 'ELEC002', 'home-101',
       'HOME101', 'groc-501', 'GROC501', 'GROC-501', 'fash-210',
       'FASH-210', 'sprt-301', 'SPRT-301', 'SPRT301', 'BOOK900',
       'book-900', 'ELEC003', 'ELEC-003', 'elec-003', 'HOME102',
       'TOY-777'], dtype=object)

**35 NULL entry in form of string**

In [ ]:
ProductDf['SKU'].apply(lambda x: str(x).lower().strip() == 'nan').sum()

np.int64(0)

In [ ]:
ProductDf['SKU'].apply(lambda x: x == 'book-900').sum()

np.int64(1)

#**Standardization**

---

In [ ]:
ProductDf['SKU'] = ProductDf['SKU'].apply(lambda x: str(x).replace('-', '').strip().lower() if pd.notna(x) else x)

In [ ]:
ProductDf['SKU'].unique()

array(['elec001', 'elec002', 'home101', 'groc501', 'fash210', 'sprt301',
       'book900', 'elec003', 'home102', 'toy777'], dtype=object)

**NULLS**
appears to have 0 nulls because they are strings 'nan' but the 'nan' appears in the .unique as entry in the column

In [ ]:
ProductDf['SKU'] = ProductDf.groupby('ProductName')['SKU'].transform(
    lambda group: group.replace('nan', np.nan).fillna(method='ffill').fillna(method='bfill')
)

/tmp/ipython-input-1427144408.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  lambda group: group.replace('nan', np.nan).fillna(method='ffill').fillna(method='bfill')

In [ ]:
ProductDf['SKU'].unique()

array(['elec001', 'elec002', 'home101', 'groc501', 'fash210', 'sprt301',
       'book900', 'elec003', 'home102', 'toy777'], dtype=object)

# **SKU have no issues left**

#**Customers_Raw**

# **Accessing Customers Raw Sheet**

---

In [ ]:
CustomersDf = dataSheets.parse('Customers_Raw')

# **Primary Inspection DF head,tail**

In [ ]:
CustomersDf.head()

,CustomerID,CustomerName,Gender,Phone,Email,Gov,City,Address
0,C1000,Alaa Fathy,M,01232297072,alaa.fathyexample.com,Sharqia,Tanta,8 Street Tahrir
1,C1001,Mohamed Ali,M,01288174504,mohamed.ali@example.com,gharbia,Sharm El Sheikh,134 شارع Tahrir
2,CUS-502,Youssef Nasr,ذكر,+20 01142158168,youssef.nasr@gmail,LUXOR,Tanta,26 Street Tahrir
3,CUS-503,علاء إبراهيم,M,+2001247509496,علاء.إبراهyمexample.com,luxor,Sharm El Sheikh,106 Street النصر
4,NaN,يوسف علي,M,012 5369 1252,yوسف.علy@gmail.com,Dakahlia,Nasr City,90 شارع Tahrir

In [ ]:
CustomersDf.tail()

,CustomerID,CustomerName,Gender,Phone,Email,Gov,City,Address
55,NaN,Karim Farouk,ذكر,01058384619,karim.farouk@example.com,Al Alexandria,Tanta,154 Street Tahrir
56,NaN,Karim Rashid,M,+20 01177008305,karim.rashidexample.com,الجيزة,Hurghada,38 شارع النصر
57,CUS-557,Dina Hassan,أنثى,+2001247376435,dina.hassan@example.com,alexandria,Tanta,82 شارع Tahrir
58,NaN,Alaa Farouk,F,NaN,alaa.farouk@gmail,Gharbia,Maadi,99 Street Tahrir
59,CUS-559,سارة حسن,M,+20 01012302458,NaN,Alexandria,Tanta,93 Street Tahrir


**Customer Columns**

In [ ]:
CustomersDf.columns

Index(['CustomerID', 'CustomerName', 'Gender', 'Phone', 'Email', 'Gov', 'City',
       'Address'],
      dtype='object')

**Checking Nulls and Data Types**

In [ ]:
CustomersDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    40 non-null     object
 1   CustomerName  60 non-null     object
 2   Gender        54 non-null     object
 3   Phone         50 non-null     object
 4   Email         50 non-null     object
 5   Gov           60 non-null     object
 6   City          60 non-null     object
 7   Address       60 non-null     object
dtypes: object(8)
memory usage: 3.9+ KB

In [ ]:
CustomersDf.isna().sum()[CustomersDf.isna().sum() > 1]

CustomerID    20
Gender         6
Phone         10
Email         10
dtype: int64

#**Customer Name**


*   We have a Mix of Arabic & English names


      1.  Either we hard code it
      2.   List item

In [ ]:
CustomersDf["CustomerName"].unique()

array(['Alaa Fathy', 'Mohamed Ali', 'Youssef Nasr', 'علاء إبراهيم',
       'يوسف علي', 'محمد نصر', 'محمد فتحي', 'Karim Fathy', 'Alaa Nasr',
       'علاء علي', 'Dina Farouk', 'Nour Fathy', 'علاء راشد',
       'Karim Rashid', 'نور إبراهيم', 'Alaa Ibrahim', 'Sara Nasr',
       'Dina Mahmoud', 'Hany Ibrahim', 'منى علي', 'هاني راشد',
       'يوسف فاروق', 'Nour Nasr', 'سارة فاروق', 'Mohamed Farouk',
       'دينا حسن', 'كريم علي', 'منى فتحي', 'Youssef Hassan',
       'Hany Hassan', 'هاني محمود', 'Dina Rashid', 'Dina Ali',
       'دينا إبراهيم', 'Sara Fathy', 'Dina Hassan', 'Mohamed Ibrahim',
       'علاء نصر', 'سارة نصر', 'Hany Farouk', 'علاء فتحي', 'نور علي',
       'Hany Rashid', 'نور محمود', 'Ahmed Ali', 'كريم فاروق', 'Sara Ali',
       'Karim Farouk', 'Alaa Farouk', 'سارة حسن'], dtype=object)

In [ ]:
translator = Translator()
translated = translator.translate('سارة إبراهيم', src='ar', dest='en')
print(translated.text)

Sarah Ibrahim

#**After seeing the result on the sample case I'll apply it to the customer name column**

In [ ]:
CustomersDf['CustomerName'] = CustomersDf['CustomerName'].apply(
    lambda x: translator.translate(x, src='ar', dest='en').text if isinstance(x, str) else x
)

In [ ]:
CustomersDf["CustomerName"].unique()

array(['Alaa Fathi', 'Mohamed Ali', 'Youssef Nasr', 'Alaa Ibrahim',
       'Yusuf Ali', 'Muhammad Nasr', 'Muhammad Fathi', 'Karim Fathi',
       'Alaa Nasr', 'Alaa Ali', 'Dina Farouk', 'Nour Fathi',
       'Alaa Rashid', 'Karim Rashid', 'Nour Ibrahim', 'Sarah Nasser',
       'Dina Mahmoud', 'Hany Ibrahim', 'Mona Ali', 'Hani Rashid',
       'Youssef Farouk', 'Nour Nasser', 'Sarah Farouk', 'Mohamed Farouk',
       'Dina Hassan', 'Karim Ali', 'Mona Fathi', 'Youssef Hassan',
       'Hany Hassan', 'Hani Mahmoud', 'Dina Rashid', 'Dina Ali',
       'Dina Ibrahim', 'Sarah Fathi', 'Mohamed Ibrahim', 'Sarah Nasr',
       'Hany Farouk', 'Nour Ali', 'Hany Rashid', 'Nour Mahmoud',
       'Ahmed Ali', 'Karim Farouk', 'Sara Ali', 'Alaa Farouk',
       'Sarah Hassan'], dtype=object)

#**Now we Don't have any Arabic Entries in the Customer Name**

#**Gender**

In [ ]:
CustomersDf["Gender"].unique()

array(['male', 'female', nan], dtype=object)

In [ ]:
(CustomersDf['Gender'].astype(str).str.strip().str.lower() == 'nan').sum()

np.int64(6)

In [ ]:
CustomersDf['Gender'] = CustomersDf['Gender'].astype(str).str.strip().str.lower().map({'m':'male', 'f':'female', 'ذكر':'male', 'أنثى':'female'})

In [ ]:
CustomersDf["Gender"].unique()

array([nan], dtype=object)

In [ ]:
genderNulls=CustomersDf[CustomersDf.isna().any(axis=1)]['CustomerName']
print(genderNulls)

0          Alaa Fathi
1         Mohamed Ali
2        Youssef Nasr
3        Alaa Ibrahim
4           Yusuf Ali
5       Muhammad Nasr
6      Muhammad Fathi
7         Karim Fathi
8           Alaa Nasr
9            Alaa Ali
10        Dina Farouk
11         Nour Fathi
12        Alaa Rashid
13       Karim Rashid
14       Nour Ibrahim
15       Alaa Ibrahim
16       Sarah Nasser
17       Dina Mahmoud
18       Hany Ibrahim
19           Mona Ali
20        Hani Rashid
21     Youssef Farouk
22        Nour Nasser
23       Sarah Farouk
24     Mohamed Farouk
25        Dina Hassan
26          Karim Ali
27         Mona Fathi
28     Youssef Hassan
29        Hany Hassan
30       Hani Mahmoud
31        Dina Rashid
32         Nour Fathi
33           Dina Ali
34       Dina Ibrahim
35        Sarah Fathi
36        Mohamed Ali
37        Dina Hassan
38    Mohamed Ibrahim
39          Alaa Nasr
40       Youssef Nasr
41        Dina Farouk
42         Sarah Nasr
43        Hany Farouk
44      Muhammad Nasr
45         Alaa Fathi
46           Nour Ali
47          Karim Ali
48        Hany Rashid
49        Alaa Rashid
50        Dina Hassan
51       Nour Mahmoud
52          Ahmed Ali
53       Karim Farouk
54           Sara Ali
55       Karim Farouk
56       Karim Rashid
57        Dina Hassan
58        Alaa Farouk
59       Sarah Hassan
Name: CustomerName, dtype: object

#**I'll fix the gender by myself as I can get it from the name**

In [ ]:
CustomersDf['Gender'] = CustomersDf['CustomerName'].apply(lambda x: 'female' if any(f in x.lower() for f in ['dina', 'sarah', 'sara', 'mona', 'nour']) else 'male')

#**All the Nulls in the Gender Column and the inconsistancies are fixed**

In [ ]:
CustomersDf["Gender"].isna().sum()

np.int64(0)

#**Invalid or partial Email**

In [ ]:
CustomersDf["Email"].unique()

array(['alaa.fathyexample.com', 'mohamed.ali@example.com',
       'youssef.nasr@gmail', 'علاء.إبراهyمexample.com',
       'yوسف.علy@gmail.com', nan, 'محمد.فتحy@example.com',
       'alaa.nasr@example.com', 'علاء.علyexample.com',
       'dina.farouk@gmail.com', 'nour.fathy@example.com',
       'karim.rashid@example.com', 'نور.إبراهyم@gmail.com',
       'alaa.ibrahim@gmail.com', 'sara.nasr@gmail',
       'dina.mahmoud@gmail.com', 'هانy.راشد@gmail.com',
       'yوسف.فاروق@gmail.com', 'nour.nasr@gmail', 'سارة.فاروق@gmail',
       'mohamed.faroukexample.com', 'دyنا.حسن@example.com',
       'كرyم.علy@gmail', 'منy.فتحyexample.com',
       'youssef.hassan@gmail.com', 'هانy.محمود@example.com',
       'dina.rashid@gmail', 'nour.fathy@gmail.com', 'dina.aliexample.com',
       'دyنا.إبراهyم@example.com', 'sara.fathy@gmail',
       'dina.hassan@gmail.com', 'mohamed.ibrahim@gmail', 'علاء.نصر@gmail',
       'youssef.nasr@example.com', 'سارة.نصر@example.com',
       'hany.farouk@example.com', 'محمد.نصر@gmail.com', 'علاء.فتحy@gmail',
       'نور.علyexample.com', 'كرyم.علy@gmail.com',
       'hany.rashid@example.com', 'علاء.راشدexample.com',
       'نور.محمود@gmail', 'ahmed.ali@example.com', 'sara.ali@gmail.com',
       'karim.farouk@example.com', 'karim.rashidexample.com',
       'dina.hassan@example.com', 'alaa.farouk@gmail'], dtype=object)

#**Function For Adjusting Email Formate**

**Applying to DF**

In [ ]:
CustomersDf['Email_Cleaned'] = CustomersDf['Email'].apply(smart_email_cleaner)

In [ ]:
CustomersDf["Email_Cleaned"].unique()

array(['Alaa. fathy@example.com', 'mohamed.ali@example.com',
       'youssef.nasr@gmail', 'Alaa. Ibrahim@example.com',
       'yusf. Ali@gmail.com', None, 'Muhammad.Fathy@example.com',
       'alaa.nasr@example.com', 'Alaa. Ali@example.com',
       'dina. farouk@gmail.com', 'nour.fathy@example.com',
       'karim. rashid@example.com', 'Nour. Ibrahim@gmail.com',
       'alaa. ibrahim@gmail.com', 'sara.nasr@gmail',
       'in. mahmoud@gmail.com', 'Hany.Rashed@gmail.com',
       'Youssef Farouk@gmail.com', 'nour.nasr@gmail',
       'Sarah Farouk@gmail', 'mohamed.farouk@example.com',
       'dyna.hassan@example.com', 'Thank you@gmail',
       'My. Fathy@example.com', 'youssef.hassan@gmail.com',
       'Hany. Mahmoud@example.com', 'dina.rashid@gmail',
       'nour.fathy@gmail.com', 'dina.ali@example.com',
       'Dr. Ibrahim@example.com', 'sara. fathy@gmail',
       'dina. hassan@gmail.com', 'mohamed. ibrahim@gmail',
       'Alaa Nasr@gmail', 'youssef.nasr@example.com',
       'Sarah Nasr@example.com', 'only.farouk@example.com',
       'Muhammad Nasr@gmail.com', 'Alaa.Fathy@gmail',
       'Nour. Ali@example.com', 'Thank you@gmail.com',
       'only.rashid@example.com', 'Alaa Rashid@example.com',
       'Nour. Mahmoud@gmail', 'ahmed.ali@example.com',
       'sara.ali@gmail.com', 'karim. farouk@example.com',
       'dina. hassan@example.com', 'alaa. farouk@gmail'], dtype=object)

In [ ]:
#SalesDf['Email_Cleaned'] = SalesDf['Email_Cleaned'].apply(
#    lambda x: str(x).replace(' ', '').strip().lower() if isinstance(x, str) else x
#)

In [ ]:
CustomersDf['Email_Cleaned'] = CustomersDf['Email_Cleaned'].apply(lambda x: (str(x).replace(' ', '').lower() + '.com') if isinstance(x, str) and '@' in x and '.com' not in x else str(x).replace(' ', '').lower() if isinstance(x, str) else x)

In [ ]:
CustomersDf["Email"]=CustomersDf["Email_Cleaned"]

In [ ]:
CustomersDf["Email"]

0         alaa.fathy@example.com
1        mohamed.ali@example.com
2         youssef.nasr@gmail.com
3       alaa.ibrahim@example.com
4             yusf.ali@gmail.com
5                           None
6     muhammad.fathy@example.com
7                           None
8          alaa.nasr@example.com
9           alaa.ali@example.com
10         dina.farouk@gmail.com
11        nour.fathy@example.com
12                          None
13      karim.rashid@example.com
14        nour.ibrahim@gmail.com
15        alaa.ibrahim@gmail.com
16           sara.nasr@gmail.com
17          in.mahmoud@gmail.com
18                          None
19                          None
20         hany.rashed@gmail.com
21       yousseffarouk@gmail.com
22           nour.nasr@gmail.com
23         sarahfarouk@gmail.com
24    mohamed.farouk@example.com
25       dyna.hassan@example.com
26            thankyou@gmail.com
27          my.fathy@example.com
28      youssef.hassan@gmail.com
29                          None
30      hany.mahmoud@example.com
31         dina.rashid@gmail.com
32          nour.fathy@gmail.com
33          dina.ali@example.com
34        dr.ibrahim@example.com
35          sara.fathy@gmail.com
36       mohamed.ali@example.com
37         dina.hassan@gmail.com
38     mohamed.ibrahim@gmail.com
39            alaanasr@gmail.com
40      youssef.nasr@example.com
41                          None
42         sarahnasr@example.com
43       only.farouk@example.com
44        muhammadnasr@gmail.com
45          alaa.fathy@gmail.com
46          nour.ali@example.com
47            thankyou@gmail.com
48       only.rashid@example.com
49        alaarashid@example.com
50                          None
51        nour.mahmoud@gmail.com
52         ahmed.ali@example.com
53                          None
54            sara.ali@gmail.com
55      karim.farouk@example.com
56      karim.rashid@example.com
57       dina.hassan@example.com
58         alaa.farouk@gmail.com
59                          None
Name: Email, dtype: object

#**ALL the Emails Are Consistant and Valide**

# **Phone Normalization**
**irregular Phone formats (+20, spaced, missing)**

In [ ]:
CustomersDf["Phone"].unique()

array(['01232297072', '01288174504', '+20 01142158168', '+2001247509496',
       '012 5369 1252', nan, '+2001038405950', '+2001226521948',
       '+20 01125527644', '+20 01166867849', '010 7708 6404',
       '011 4912 3810', '01231366552', '012 8355 2661', '+2001129437798',
       '010 5772 5656', '01260381528', '+2001015253706', '01198336655',
       '01223288780', '+2001161241954', '+20 01130601268',
       '+2001129640030', '+2001226960874', '+20 01177408068',
       '01242217185', '012 1097 8481', '+20 01078945564',
       '+20 01010691813', '010 7317 6107', '+2001058215939',
       '011 2594 4033', '+2001211831931', '+2001026168027',
       '010 5512 1027', '01015488046', '01099784619', '+2001081612882',
       '01277628209', '+20 01280474132', '01046297151', '+20 01249580182',
       '+20 01139613670', '+2001033637158', '011 4291 7412',
       '+20 01082950883', '+20 01057420453', '01058384619',
       '+20 01177008305', '+2001247376435', '+20 01012302458'],
      dtype=object)

In [ ]:
CustomersDf['Phone'] = CustomersDf['Phone'].apply(lambda x: str(x).replace('+20', '').replace(' ','').strip() if pd.notnull(x) else x)

In [ ]:
CustomersDf["Phone"].unique()

array(['01232297072', '01288174504', '01142158168', '01247509496',
       '01253691252', nan, '01038405950', '01226521948', '01125527644',
       '01166867849', '01077086404', '01149123810', '01231366552',
       '01283552661', '01129437798', '01057725656', '01260381528',
       '01015253706', '01198336655', '01223288780', '01161241954',
       '01130601268', '01129640030', '01226960874', '01177408068',
       '01242217185', '01210978481', '01078945564', '01010691813',
       '01073176107', '01058215939', '01125944033', '01211831931',
       '01026168027', '01055121027', '01015488046', '01099784619',
       '01081612882', '01277628209', '01280474132', '01046297151',
       '01249580182', '01139613670', '01033637158', '01142917412',
       '01082950883', '01057420453', '01058384619', '01177008305',
       '01247376435', '01012302458'], dtype=object)

#**All phone numbers are now without prefix**

#**Inconsistent geography (Arabic/English/typos)**

In [ ]:
CustomersDf["Gov"].unique()

array(['Sharqia', 'gharbia', 'LUXOR', 'luxor', 'Dakahlia', 'SOUTH SINAI',
       'الجيزة', 'Alexandria', 'Aswan', 'الإسكندرية', 'qalyubia',
       'Qalyubia', 'Asyut', 'Giza', 'sharqia', 'dakahlia', 'Al Red Sea',
       'CAIRO', 'أسيوط', 'giza', 'alexandria', 'الغربية', 'cairo',
       'Al Qalyubia', 'DAKAHLIA', 'القليوبية', 'aswan', 'الدقهلية',
       'ASWAN', 'أسوان', 'Gharbia', 'QALYUBIA', 'الأقصر', 'ASYUT',
       'SHARQIA', 'GHARBIA', 'South Sinai', 'Al Alexandria'], dtype=object)

In [ ]:
CustomersDf['Gov'] = CustomersDf['Gov'].apply(
    lambda x: translator.translate(x, src='ar', dest='en').text if isinstance(x, str) else x)

In [ ]:
CustomersDf["Gov"].unique()

array(['Sharqia', 'gharbia', 'LUXOR', 'luxor', 'Dakahlia', 'SOUTH SINAI',
       'Giza', 'Alexandria', 'Aswan', 'qalyubia', 'Qalyubia', 'Asyut',
       'sharqia', 'Al Red Sea', 'CAIRO', 'Assiut', 'giza', 'alexandria',
       'Western', 'cairo', 'Al Qalyubia', 'aswan', 'ASWAN', 'Gharbia',
       'QALYUBIA', 'Luxor', 'ASYUT', 'SHARQIA', 'GHARBIA', 'South Sinai',
       'Al Alexandria'], dtype=object)

In [ ]:
CustomersDf = CustomersDf.applymap(
    lambda x: str(x).lower().replace('eastern', 'gharbia').replace('western','sharqia').replace('gizah','giza').replace('asyut','assiut').removeprefix('al ') if not str(x).lower().startswith('alexandria') else str(x).lower()
     if isinstance(x, str) else x
)

/tmp/ipython-input-1056832121.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  CustomersDf = CustomersDf.applymap(

#**The Inconsistancies in the Governorate Column are Fixed**

In [ ]:
CustomersDf["Gov"].unique()

array(['sharqia', 'gharbia', 'luxor', 'dakahlia', 'south sinai', 'giza',
       'alexandria', 'aswan', 'qalyubia', 'assiut', 'red sea', 'cairo'],
      dtype=object)

#**multi-line addresses (embedded newlines) & Dealing with arabic words**

In [ ]:
CustomersDf["Address"].unique()

array(['8 street tahrir', '134 شارع tahrir', '26 street tahrir',
       '106 street النصر', '90 شارع tahrir', '78 شارع النصر',
       '84 شارع tahrir', '148 street tahrir', '30 شارع النصر',
       '57 street tahrir', '82 شارع النصر', '58 street النصر',
       '194 شارع tahrir', '182 شارع tahrir', '186 street النصر',
       '39 شارع النصر', '3 street النصر', '147 street النصر',
       '169 street النصر', '193 street النصر', '137 شارع النصر',
       '155 street tahrir', '53 street tahrir', '137 street tahrir',
       '32 street tahrir', '89 شارع tahrir', '200 street tahrir',
       '163 street tahrir', '109 street tahrir', '156 street tahrir',
       '87 street النصر', '119 شارع النصر', '51 street النصر',
       '69 street tahrir', '191 شارع النصر', '193 شارع tahrir',
       '3 شارع tahrir', '64 شارع النصر', '5 street النصر',
       '29 شارع tahrir', '72 street tahrir', '200 شارع النصر',
       '181 شارع النصر', '12 street النصر', '48 street النصر',
       '44 street النصر', '155 شارع tahrir', '66 street النصر',
       '115 street tahrir', '80 street النصر', '26 شارع tahrir',
       '36 شارع tahrir', '131 شارع النصر', '154 street tahrir',
       '38 شارع النصر', '82 شارع tahrir', '99 street tahrir',
       '93 street tahrir'], dtype=object)

In [ ]:
CustomersDf['Address'] = CustomersDf['Address'].apply(lambda x: translator.translate(str(x).replace('\n', ' '), src='ar', dest='en').text if any('\u0600' <= c <= '\u06FF' for c in str(x)) else str(x).replace('\n', ' '))

#**Final Address Result**

In [ ]:
CustomersDf['Address'].unique()

array(['8 street tahrir', '134 Tahrir Street', '26 street tahrir',
       '106 street victory', '90 Tahrir Street', '78 Al-Nasr Street',
       '84 Tahrir Street', '148 street tahrir', '30 Al-Nasr Street',
       '57 street tahrir', '82 Al-Nasr Street', '58 street victory',
       '194 Tahrir Street', '182 Tahrir Street', '186 street Al-Nasr',
       '39 Al-Nasr Street', '3 street victory', '147 street Al-Nasr',
       '169 street victory', '193 street victory', '137 Al-Nasr Street',
       '155 street tahrir', '53 street tahrir', '137 street tahrir',
       '32 street tahrir', '89 Tahrir Street', '200 street tahrir',
       '163 street tahrir', '109 street tahrir', '156 street tahrir',
       '87 street victory', '119 Al-Nasr Street', '51 street victory',
       '69 street tahrir', '191 Al-Nasr Street', '193 Tahrir Street',
       '3 Tahrir Street', '64 Al-Nasr Street', '5 street victory',
       '29 Tahrir Street', '72 street tahrir', '200 Al-Nasr Street',
       '181 Al-Nasr Street', '12 street victory', '48 street victory',
       '44 street victory', '155 Tahrir Street', '66 street victory',
       '115 street tahrir', '80 street victory', '26 Tahrir Street',
       '36 Tahrir Street', '131 Al-Nasr Street', '154 street tahrir',
       '38 Al-Nasr Street', '82 Tahrir Street', '99 street tahrir',
       '93 street tahrir'], dtype=object)

# **Customer ID**

In [ ]:
CustomersDf["CustomerID"].unique()

array(['c1000', 'c1001', 'cus-502', 'cus-503', 'nan', 'c1006', 'c1008',
       'cus-511', 'cus-512', 'c1013', 'c1015', 'cus-517', 'cus-518',
       'c1019', 'cus-520', 'c1021', 'cus-522', 'cus-523', 'c1024',
       'c1025', 'cus-527', 'cus-530', 'c1031', 'cus-532', 'cus-533',
       'c1034', 'c1037', 'c1038', 'c1039', 'c1041', 'c1042', 'c1043',
       'c1046', 'c1047', 'c1049', 'cus-550', 'c1051', 'c1052', 'c1053',
       'cus-557', 'cus-559'], dtype=object)

In [ ]:
CustomersDf['CustomerID'] = CustomersDf['CustomerID'].apply(lambda x: x.replace('cus-', 'c') if isinstance(x, str) and x.startswith('cus-') else x)

In [ ]:
CustomersDf["CustomerID"].unique()

array(['c1000', 'c1001', 'c502', 'c503', 'nan', 'c1006', 'c1008', 'c511',
       'c512', 'c1013', 'c1015', 'c517', 'c518', 'c1019', 'c520', 'c1021',
       'c522', 'c523', 'c1024', 'c1025', 'c527', 'c530', 'c1031', 'c532',
       'c533', 'c1034', 'c1037', 'c1038', 'c1039', 'c1041', 'c1042',
       'c1043', 'c1046', 'c1047', 'c1049', 'c550', 'c1051', 'c1052',
       'c1053', 'c557', 'c559'], dtype=object)

#**Final Dataset Results**

In [ ]:
CustomersDf.head()

,CustomerID,CustomerName,Gender,Phone,Email,Gov,City,Address,Email_Cleaned
0,c1000,alaa fathi,male,01232297072,alaa.fathy@example.com,sharqia,tanta,8 street tahrir,alaa.fathy@example.com
1,c1001,mohamed ali,male,01288174504,mohamed.ali@example.com,gharbia,sharm el sheikh,134 Tahrir Street,mohamed.ali@example.com
2,cus-502,youssef nasr,male,01142158168,youssef.nasr@gmail.com,luxor,tanta,26 street tahrir,youssef.nasr@gmail.com
3,cus-503,alaa ibrahim,male,01247509496,alaa.ibrahim@example.com,luxor,sharm el sheikh,106 street victory,alaa.ibrahim@example.com
4,nan,yusuf ali,male,01253691252,yusf.ali@gmail.com,dakahlia,nasr city,90 Tahrir Street,yusf.ali@gmail.com

#**Governorates_Lookup_Noise**

# **Accessing Sales Orders Raw Sheet**

---

In [ ]:
GovDf = dataSheets.parse('Governorates_Lookup_Noise')

# **Primary Inspection DF head,tail**

In [ ]:
GovDf.head()

    GovName  AltName   Latitude  Longitude
0  Al Cairo  القاهرة  30.006956  31.203068
1     Cairo    Cairo    30,0444    31,2357
2   القاهرة    Cairo  30.025546  31.257867
3    الجيزة     Giza    31.2089    30.0131
4      giza      NaN    30,0131    31,2089

In [ ]:
GovDf.tail()

         GovName       AltName   Latitude  Longitude
31       red sea  البحر الأحمر  27.249584  33.790434
32  البحر الأحمر           NaN    33.8116    27.2579
33   south sinai    جنوب سيناء     33.975    28.5426
34    جنوب سيناء    جنوب سيناء  28.503624  33.981709
35    جنوب سيناء    جنوب سيناء    28,5426     33,975


**Gov Columns**

In [ ]:
GovDf.columns

Index(['GovName', 'AltName', 'Latitude', 'Longitude'], dtype='object')

**Checking Nulls and Data Types**

In [ ]:
GovDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   GovName    36 non-null     object
 1   AltName    26 non-null     object
 2   Latitude   35 non-null     object
 3   Longitude  35 non-null     object
dtypes: object(4)
memory usage: 1.3+ KB

In [ ]:
GovDf['GovName'].unique()

array(['Al Cairo', 'Cairo', 'القاهرة', 'الجيزة', 'giza', 'alexandria',
       'الإسكندرية', 'Al Asyut', 'أسيوط', 'أسوان', 'ASWAN', 'qalyubia',
       'القليوبية', 'QALYUBIA', 'Sharqia', 'sharqia', 'الدقهلية',
       'Al Dakahlia', 'dakahlia', 'الغربية', 'gharbia', 'Luxor', 'الأقصر',
       'LUXOR', 'Red Sea', 'red sea', 'البحر الأحمر', 'south sinai',
       'جنوب سيناء'], dtype=object)

In [ ]:
governorateMapFinal = {
    'Al Cairo': 'Cairo', 'Cairo': 'Cairo', 'القاهرة': 'Cairo',
    'الجيزة': 'Giza', 'giza': 'Giza',
    'alexandria': 'Alexandria', 'الإسكندرية': 'Alexandria',
    'Al Asyut': 'Asyut', 'أسيوط': 'Asyut',
    'أسوان': 'Aswan', 'ASWAN': 'Aswan',
    'qalyubia': 'Qalyubia', 'القليوبية': 'Qalyubia', 'QALYUBIA': 'Qalyubia',
    'Sharqia': 'Sharqia', 'sharqia': 'Sharqia',
    'الدقهلية': 'Dakahlia', 'Al Dakahlia': 'Dakahlia', 'dakahlia': 'Dakahlia',
    'الغربية': 'Gharbia', 'gharbia': 'Gharbia',
    'Luxor': 'Luxor', 'الأقصر': 'Luxor', 'LUXOR': 'Luxor',
    'Red Sea': 'Red Sea', 'red sea': 'Red Sea', 'البحر الأحمر': 'Red Sea',
    'south sinai': 'South Sinai', 'جنوب سيناء': 'South Sinai'
}

In [ ]:
GovDf['GovName'] = GovDf['GovName'].map(governorateMapFinal)

In [ ]:
GovDf['GovName'].unique()

array(['Cairo', 'Giza', 'Alexandria', 'Asyut', 'Aswan', 'Qalyubia',
       'Sharqia', 'Dakahlia', 'Gharbia', 'Luxor', 'Red Sea',
       'South Sinai'], dtype=object)

#**ALT Name**

In [ ]:
GovDf['AltName'].unique()

array(['القاهرة', 'Cairo', 'Giza', nan, 'الجيزة', 'Alexandria', 'Asyut',
       'أسوان', 'Aswan', 'القليوبية', 'الشرقية', 'Dakahlia', 'Gharbia',
       'الأقصر', 'Luxor', 'البحر الأحمر', 'جنوب سيناء'], dtype=object)

In [ ]:
governorateMapFinalAR= {
    'Cairo': 'القاهرة',
    'Giza': 'الجيزة',
    'Alexandria': 'الإسكندرية',
    'Asyut': 'أسيوط',
    'Aswan': 'أسوان',
    'Qalyubia': 'القليوبية',
    'Sharqia': 'الشرقية',
    'Dakahlia': 'الدقهلية',
    'Gharbia': 'الغربية',
    'Luxor': 'الأقصر',
    'Red Sea': 'البحر الأحمر',
    'South Sinai': 'جنوب سيناء'
}

In [ ]:
GovDf['AltName'] = GovDf['GovName'].map(governorateMapFinalAR)

In [ ]:
GovDf['AltName']

0          القاهرة
1          القاهرة
2          القاهرة
3           الجيزة
4           الجيزة
5           الجيزة
6       الإسكندرية
7       الإسكندرية
8       الإسكندرية
9            أسيوط
10           أسيوط
11           أسيوط
12           أسوان
13           أسوان
14           أسوان
15       القليوبية
16       القليوبية
17       القليوبية
18         الشرقية
19         الشرقية
20         الشرقية
21        الدقهلية
22        الدقهلية
23        الدقهلية
24         الغربية
25         الغربية
26         الغربية
27          الأقصر
28          الأقصر
29          الأقصر
30    البحر الأحمر
31    البحر الأحمر
32    البحر الأحمر
33      جنوب سيناء
34      جنوب سيناء
35      جنوب سيناء
Name: AltName, dtype: object

#**Converted lat/long values from string to float, fixed decimal commas, flagged coordinates, and swapped the wrong latitude and longitude**

In [ ]:
GovDf[['Latitude', 'Longitude']] = GovDf[['Latitude', 'Longitude']].applymap(lambda x: float(str(x).replace(',', '.')) if pd.notna(x) else pd.NA)

/tmp/ipython-input-836132967.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  GovDf[['Latitude', 'Longitude']] = GovDf[['Latitude', 'Longitude']].applymap(lambda x: float(str(x).replace(',', '.')) if pd.notna(x) else pd.NA)

In [ ]:
GovDf[['Latitude', 'Longitude']]

     Latitude   Longitude
0   30.006956   31.203068
1     30.0444     31.2357
2   30.025546   31.257867
3     31.2089     30.0131
4     30.0131     31.2089
5     30.0131     31.2089
6   31.186058   29.906472
7   31.211039   29.912043
8        <NA>        <NA>
9   27.205886   31.225853
10    31.1837       27.18
11  27.160585   31.162023
12  24.072223   32.921286
13  24.039318   32.935966
14  24.080482   32.889265
15  30.434105   31.288831
16  30.382448   31.323213
17   30.46571   31.307127
18  30.745498   31.700818
19  30.724404   31.688679
20  30.718141   31.734656
21  31.005688   31.389044
22    31.0409     31.3785
23  30.992134   31.405597
24  30.916015   31.140935
25    31.1829     30.8686
26  30.868665    31.18622
27   88.03547  108.931614
28  25.714869   32.624039
29  25.730202   32.629397
30  27.289539   33.761758
31  27.249584   33.790434
32    33.8116     27.2579
33     33.975     28.5426
34  28.503624   33.981709
35    28.5426      33.975

In [ ]:
GovDf['LatLong_Swapped'] = GovDf.apply(lambda row: pd.notna(row['Latitude']) and pd.notna(row['Longitude']) and -90 <= row['Latitude'] <= 90 and -180 <= row['Longitude'] <= 180, axis=1)

In [ ]:
GovDf['LatLong_Swapped'].value_counts()

LatLong_Swapped
True     35
False     1
Name: count, dtype: int64

In [ ]:
GovDf.loc[GovDf['LatLong_Swapped'], ['Latitude', 'Longitude']] = GovDf.loc[GovDf['LatLong_Swapped'], ['Longitude', 'Latitude']].values

#Saving into Excel again

In [ ]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading xlsxwriter-3.2.9-py3-none-any.whl.metadata (2.7 kB)
Downloading xlsxwriter-3.2.9-py3-none-any.whl (175 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 175.3/175.3 kB 5.5 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.2.9

In [ ]:
SalesDf.columns

Index(['OrderID', 'OrderDate', 'DeliveryDate', 'CustomerID', 'CustomerName',
       'Gender', 'Phone', 'Email', 'Governorate', 'City', 'Address',
       'Latitude', 'Longitude', 'ProductSKU', 'ProductName', 'Category',
       'UnitPrice', 'Quantity', 'Subtotal', 'Discount', 'TotalAmount',
       'Currency', 'PaymentMethod', 'PaymentStatus', 'ShipperName',
       'ShippingCost', 'SalesRep', 'Channel', 'ReturnFlag', 'ReturnDate',
       'Status', 'Notes', 'LatLong_Swapped', 'Email_Cleaned'],
      dtype='object')

In [ ]:
SalesDf = SalesDf.drop(columns=['Email_Cleaned'])

In [ ]:
SalesDf = SalesDf.drop(columns=['LatLong_Swapped'])

In [ ]:
CustomersDf.columns

Index(['CustomerID', 'CustomerName', 'Gender', 'Phone', 'Email', 'Gov', 'City',
       'Address'],
      dtype='object')

In [ ]:
CustomersDf = CustomersDf.drop(columns=['Email_Cleaned'])

In [ ]:
GovDf.columns

Index(['GovName', 'AltName', 'Latitude', 'Longitude', 'Swap', 'Swapped',
       'LatLong_Swapped'],
      dtype='object')

In [ ]:
GovDf = GovDf.drop(columns=['Swap', 'Swapped','LatLong_Swapped'])

In [ ]:
with pd.ExcelWriter("cleaned_data_.xlsx", engine='xlsxwriter') as writer:
    SalesDf.to_excel(writer, sheet_name='Sales_Orders', index=False)
    CustomersDf.to_excel(writer, sheet_name='Customers', index=False)
    ProductDf.to_excel(writer, sheet_name='Products', index=False)
    GovDf.to_excel(writer, sheet_name='Gov_LookUp', index=False)

In [ ]:
SalesDf.to_csv("Sales_Orders.csv", index=False)
CustomersDf.to_csv("Customers.csv", index=False)
ProductDf.to_csv("Products.csv", index=False)
GovDf.to_csv("Gov_LookUp.csv", index=False)

In [ ]:
ProductDf.columns

Index(['SKU', 'ProductName', 'Category'], dtype='object')

#**Fixing Some Data Types**

In [ ]:
SalesDf.head()

,OrderID,OrderDate,DeliveryDate,CustomerID,CustomerName,Gender,Phone,Email,Governorate,City,...,PaymentMethod,PaymentStatus,ShipperName,ShippingCost,SalesRep,Channel,ReturnFlag,ReturnDate,Status,Notes
36,so85088,nat,2024-01-07 00:00:00,nan,karim hassan,male,01192493631,generous.hassan@gmail.com,alexandria,montaza,...,Fawry,paid,aramex,25.0,karim rashid,tel-sales,no,NaT,returned,Old customer - extra discount
37,so17567,nat,2024-06-04 00:00:00,nan,alaa farouk,male,01073360324,alaa.farouk@example.com,sharqia,zagazig,...,mastercard,unpaid,fedex,75.0,ahmed ali,store,yes,2024-06-22,new,in
110,so27394,nat,2024-04-03 00:00:00,nan,ahmed fathi,female,01264406548,ahmed.fathy@example.com,red sea,safaga,...,visa,unpaid,aramex,0.0,karim rashid,e-com,no,NaT,new,in
25,so77839,nat,2024-05-18 00:00:00,c576,mona ibrahim,male,01158895439,mona.ibrahim@gmail.com,luxor,esna,...,visa,pending,Egypt Post,0.0,karim rashid,e-com,no,NaT,processing,in
138,so84130,nat,2024-05-01 00:00:00,c576,alaa farouk,male,01278495121,alaafarouk@example.com,alexandria,smouha,...,meeza,unpaid,aramex,25.0,karim rashid,tel-sales,yes,2024-05-01,returned,customer asked for gift wrap

In [ ]:
dataSheets = pd.ExcelFile('/content/cleaned_data_.xlsx')
SalesDf = dataSheets.parse('Sales_Orders')

In [ ]:
CustomersDf= dataSheets.parse('Customers')
ProductDf= dataSheets.parse('Products')
GovDf= dataSheets.parse('Gov_LookUp')

#**Transforming the dates from objects to date formate**

In [ ]:
SalesDf['OrderDate'] = pd.to_datetime(SalesDf['OrderDate'], errors='coerce')

In [ ]:
SalesDf['DeliveryDate'] = pd.to_datetime(SalesDf['DeliveryDate'], errors='coerce')

In [ ]:
SalesDf['ReturnDate'] = pd.to_datetime(SalesDf['ReturnDate'], errors='coerce')

In [ ]:
SalesDf['DeliveryDate'].head()

0   2024-01-07
1   2024-06-04
2   2024-04-03
3   2024-05-18
4   2024-05-01
Name: DeliveryDate, dtype: datetime64[ns]

In [ ]:
SalesDf['OrderDate'] = pd.to_datetime(SalesDf['OrderDate'], errors='coerce')
SalesDf['OrderDate'] = SalesDf['OrderDate'].dt.strftime('%Y-%m-%d')

In [ ]:
SalesDf['DeliveryDate'] = pd.to_datetime(SalesDf['DeliveryDate'], errors='coerce')
SalesDf['DeliveryDate'] = SalesDf['DeliveryDate'].dt.strftime('%Y-%m-%d')

In [ ]:
SalesDf['ReturnDate'] = pd.to_datetime(SalesDf['ReturnDate'], errors='coerce')
SalesDf['ReturnDate'] = SalesDf['ReturnDate'].dt.strftime('%Y-%m-%d')

In [ ]:
SalesDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 32 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderID        136 non-null    object
 1   OrderDate      122 non-null    object
 2   DeliveryDate   123 non-null    object
 3   CustomerID     87 non-null     object
 4   CustomerName   136 non-null    object
 5   Gender         136 non-null    object
 6   Phone          114 non-null    object
 7   Email          105 non-null    object
 8   Governorate    136 non-null    object
 9   City           136 non-null    object
 10  Address        136 non-null    object
 11  Latitude       117 non-null    float64
 12  Longitude      117 non-null    float64
 13  ProductSKU     136 non-null    object
 14  ProductName    136 non-null    object
 15  Category       136 non-null    object
 16  UnitPrice      136 non-null    float64
 17  Quantity       136 non-null    int64
 18  Subtotal       136 non-null    float64
 19  Discount       136 non-null    float64
 20  TotalAmount    136 non-null    float64
 21  Currency       136 non-null    object
 22  PaymentMethod  136 non-null    object
 23  PaymentStatus  136 non-null    object
 24  ShipperName    136 non-null    object
 25  ShippingCost   122 non-null    float64
 26  SalesRep       136 non-null    object
 27  Channel        136 non-null    object
 28  ReturnFlag     136 non-null    object
 29  ReturnDate     3 non-null      object
 30  Status         122 non-null    object
 31  Notes          136 non-null    object
dtypes: float64(7), int64(1), object(24)
memory usage: 34.1+ KB

In [ ]:
CustomersDf['Phone'] = CustomersDf['Phone'].astype(str)

In [ ]:
CustomersDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    40 non-null     object
 1   CustomerName  60 non-null     object
 2   Gender        60 non-null     object
 3   Phone         60 non-null     object
 4   Email         60 non-null     object
 5   Gov           60 non-null     object
 6   City          60 non-null     object
 7   Address       60 non-null     object
dtypes: object(8)
memory usage: 3.9+ KB

In [ ]:
dataSheets = pd.ExcelFile('/content/EG_Retail_Data_Cleaned_.xlsx')
ProductDf = dataSheets.parse('Products')

In [ ]:
ProductDf

        SKU              ProductName     Category
0   elec001  Laptop i7 16GB - لابتوب  electronics
1   elec001  LAPTOP I7 16GB - لابتوب  electronics
2   elec001  Labtop i7 16GB - لابتوب  electronics
3   elec002    Smartphone A55 - هاتف  electronics
4   elec002    Smartphone A55 - هاتف  electronics
5   elec002    Smartphone A55 - هاتف  electronics
6   home101  Electric Kettle - غلاية         home
7   home101  ELECTRIC KETTLE - غلاية         home
8   home101  Electric Kettle - غلاية         home
9   groc501     Organic زيت زيتون 1L      grocery
10  groc501     Organic زيت زيتون 1L      grocery
11  groc501     Organic زيت زيتون 1L      grocery
12  fash210     Men T-Shirt - تيشيرت      fashion
13  fash210     Men T-Shirt - تيشيرت      fashion
14  fash210     Men T-Shirt - تيشيرت      fashion
15  sprt301       FOOTBALL - كرة قدم       sports
16  sprt301       FOOTBALL - كرة قدم       sports
17  sprt301       Football - كرة قدم       sports
18  book900     Data Warehousing 101        books
19  book900     DATA WAREHOUSING 101        books
20  book900     DATA WAREHOUSING 101        books
21  elec003          BLUETOOTH سماعة  electronics
22  elec003          Bluetooth سماعة  electronics
23  elec003          Bluetooth سماعة  electronics
24  home102     Air Fryer 4L - قلاية         home
25  home102     Air Fryer 4L - قلاية         home
26  home102     AIR FRYER 4L - قلاية         home
27   toy777   PUZZLE 1000PCS - أحجية         toys
28   toy777   PUZZLE 1000PCS - أحجية         toys
29   toy777   Puzzle 1000pcs - أحجية         toys

In [ ]:
ProductDf = ProductDf.drop_duplicates(subset=['SKU'], keep='first').reset_index(drop=True)

In [ ]:
ProductDf

       SKU              ProductName     Category
0  elec001  Laptop i7 16GB - لابتوب  electronics
1  elec002    Smartphone A55 - هاتف  electronics
2  home101  Electric Kettle - غلاية         home
3  groc501     Organic زيت زيتون 1L      grocery
4  fash210     Men T-Shirt - تيشيرت      fashion
5  sprt301       FOOTBALL - كرة قدم       sports
6  book900     Data Warehousing 101        books
7  elec003          BLUETOOTH سماعة  electronics
8  home102     Air Fryer 4L - قلاية         home
9   toy777   PUZZLE 1000PCS - أحجية         toys

In [ ]:
CustomersDf = CustomersDf.drop_duplicates(subset=['CustomerID'], keep='first').reset_index(drop=True)

In [ ]:
GovDf

        GovName       AltName    Latitude  Longitude
0         Cairo       القاهرة   31.203068  30.006956
1         Cairo       القاهرة   31.235700  30.044400
2         Cairo       القاهرة   31.257867  30.025546
3          Giza        الجيزة   30.013100  31.208900
4          Giza        الجيزة   31.208900  30.013100
5          Giza        الجيزة   31.208900  30.013100
6    Alexandria    الإسكندرية   29.906472  31.186058
7    Alexandria    الإسكندرية   29.912043  31.211039
8    Alexandria    الإسكندرية         NaN        NaN
9         Asyut         أسيوط   31.225853  27.205886
10        Asyut         أسيوط   27.180000  31.183700
11        Asyut         أسيوط   31.162023  27.160585
12        Aswan         أسوان   32.921286  24.072223
13        Aswan         أسوان   32.935966  24.039318
14        Aswan         أسوان   32.889265  24.080482
15     Qalyubia     القليوبية   31.288831  30.434105
16     Qalyubia     القليوبية   31.323213  30.382448
17     Qalyubia     القليوبية   31.307127  30.465710
18      Sharqia       الشرقية   31.700818  30.745498
19      Sharqia       الشرقية   31.688679  30.724404
20      Sharqia       الشرقية   31.734656  30.718141
21     Dakahlia      الدقهلية   31.389044  31.005688
22     Dakahlia      الدقهلية   31.378500  31.040900
23     Dakahlia      الدقهلية   31.405597  30.992134
24      Gharbia       الغربية   31.140935  30.916015
25      Gharbia       الغربية   30.868600  31.182900
26      Gharbia       الغربية   31.186220  30.868665
27        Luxor        الأقصر  108.931614  88.035470
28        Luxor        الأقصر   32.624039  25.714869
29        Luxor        الأقصر   32.629397  25.730202
30      Red Sea  البحر الأحمر   33.761758  27.289539
31      Red Sea  البحر الأحمر   33.790434  27.249584
32      Red Sea  البحر الأحمر   27.257900  33.811600
33  South Sinai    جنوب سيناء   28.542600  33.975000
34  South Sinai    جنوب سيناء   33.981709  28.503624
35  South Sinai    جنوب سيناء   33.975000  28.542600

In [ ]:
with pd.ExcelWriter("EG_Retail_Data_Cleaned_Final_.xlsx", engine='xlsxwriter') as writer:
    SalesDf.to_excel(writer, sheet_name='Sales_Orders', index=False)
    CustomersDf.to_excel(writer, sheet_name='Customers', index=False)
    ProductDf.to_excel(writer, sheet_name='Products', index=False)
    GovDf.to_excel(writer, sheet_name='Gov_LookUp', index=False)

In [ ]:
print(3)

3

In [ ]:
SalesDf.isna().sum()

OrderID            0
OrderDate         14
DeliveryDate      13
CustomerID        49
CustomerName       0
Gender             0
Phone             22
Email             31
Governorate        0
City               0
Address            0
Latitude          19
Longitude         19
ProductSKU         0
ProductName        0
Category           0
UnitPrice          0
Quantity           0
Subtotal           0
Discount           0
TotalAmount        0
Currency           0
PaymentMethod      0
PaymentStatus      0
ShipperName        0
ShippingCost      14
SalesRep           0
Channel            0
ReturnFlag         0
ReturnDate       133
Status            14
Notes              0
dtype: int64

In [ ]:
sales=SalesDf
sales = sales.merge(CustomersDf[["CustomerName", "CustomerID"]], on="CustomerName", how="left", suffixes=("", "_from_customers"))
sales["CustomerID"] = sales["CustomerID"].fillna(sales["CustomerID_from_customers"])
sales = sales.drop(columns=["CustomerID_from_customers"])

In [ ]:
CustomersDf["CustomerName"] = CustomersDf["CustomerName"].str.lower().str.strip()

In [ ]:
null_customerid_rows = sales[sales["CustomerID"].isna()]

# Display them
print(null_customerid_rows)

     OrderID   OrderDate DeliveryDate CustomerID      CustomerName  Gender  \
0    so85088         NaN   2024-01-07        NaN      karim hassan    male
1    so17567         NaN   2024-06-04        NaN       alaa farouk    male
2    so27394         NaN   2024-04-03        NaN       ahmed fathi  female
17   so46467  2024-06-26   2024-06-24        NaN      mohamed nasr  female
25   so46408  2024-06-17   2024-06-18        NaN      mohamed nasr    male
27   so48854  2024-06-15   2024-06-17        NaN       alaa hassan  female
31   so15229  2024-06-13   2024-06-13        NaN     sarah mahmoud  female
34   so17641  2024-06-06   2024-06-08        NaN      alaa mahmoud    male
35   so63523  2024-06-02   2024-06-06        NaN         mona nasr  female
37   so72204  2024-05-30   2024-06-13        NaN     sarah mahmoud  female
38   so76619  2024-05-29          NaN        NaN     youssef fathi  female
41   so80673  2024-05-28   2024-06-03        NaN    youssef rashid    male
42   so14635  2024-05-21   2024-05-25        NaN          hany ali    male
43   so64162  2024-05-21   2024-05-30        NaN       mona hassan  female
56   so22622  2024-04-25   2024-05-01        NaN     sarah ibrahim  female
62   so31538  2024-04-21   2024-05-02        NaN        karim nasr    male
64   so57223  2024-04-16   2024-04-15        NaN       mona hassan  female
66   so66040  2024-04-13   2024-04-20        NaN      ahmed hassan    male
68   so83048  2024-04-03   2024-04-08        NaN  muhammad mahmoud    male
71   so57774  2024-03-21   2024-03-25        NaN        dina fathi    male
78   so39603  2024-03-17          NaN        NaN     ahmed ibrahim    male
85   so73201  2024-02-27   2024-03-04        NaN          hani ali    male
88   so20494  2024-02-23   2024-02-25        NaN   muhammad hassan  female
89   so39444  2024-02-20   2024-02-28        NaN      alaa mahmoud    male
90   so52778  2024-02-19   2024-02-28        NaN       alaa farouk    male
103  so24515  2024-02-03   2024-02-05        NaN       mona rashid  female
109  so11071  2024-01-28          NaN        NaN       hany rashid  female
126  so72787  2024-01-16   2024-01-23        NaN        hany fathi    male
128  so22193  2024-01-12   2024-01-19        NaN       alaa hassan    male
132  so89405  2024-01-09   2024-01-10        NaN   mohamed mahmoud  female
134  so98864  2024-01-06          NaN        NaN      ahmed farouk  female
135  so62873  2024-01-05   2024-01-08        NaN        ahmed nasr    male
141  so67342  2024-01-02   2024-03-09        NaN      muhammad ali    male
146  so27837  2024-01-01   2024-01-07        NaN         nour nasr    male

             Phone                        Email  Governorate  \
0      01192493631    generous.hassan@gmail.com   alexandria
1      01073360324      alaa.farouk@example.com      sharqia
2      01264406548      ahmed.fathy@example.com      red sea
17     01076399516     mohamed.nasr@example.com        aswan
25     01128865664     mohamed.nasr@example.com        luxor
27     01219679848      alaa.hassan@example.com     dakahlia
31     01210380581       sara.mahmoud@gmail.com   alexandria
34     01293929707                          NaN  south sinai
35     01284990607        mona.nasr@example.com      sharqia
37   011 9745 4571                          NaN        cairo
38             NaN        yosef.fathy@gmail.com  south sinai
41     01290213415                          NaN        aswan
42   011 1925 1149         only.ali@example.com        aswan
43     01231715773        mona.hassan@gmail.com      gharbia
56     01157661928                          NaN     dakahlia
62     01252103461        karimnasr@example.com        aswan
64   011 9112 5155                          NaN   alexandria
66             NaN       ahmed.hassan@gmail.com  south sinai
68     01239711402   muhammad.mahmoud@gmail.com  south sinai
71     01184044139         dina.fathy@gmail.com      red sea
78             NaN    ahmed.ibrahim@example.com      gharbia
85     01034215035        hany.aliy@example.com     qalyubia
88   010 9789 0153   muhammadhassan@example.com       assiut
89     01067062156       alaa.mahmoud@gmail.com  south sinai
90     01237811066       alaafarouk@example.com      red sea
103    01137072082          my.rashed@gmail.com     dakahlia
109            NaN                          NaN         giza
126    01146297263       only.fathy@example.com     qalyubia
128    01198911718        alaa.hassan@gmail.com        aswan
132    01062744287  mohamed.mahmoud@example.com         giza
134            NaN        ahmedfarouk@gmail.com     dakahlia
135    01293635734                          NaN        cairo
141    01076627415                          NaN      sharqia
146    01174205127    light.victory@example.com   alexandria

                 City  ... PaymentMethod  PaymentStatus  ShipperName  \
0             montaza  ...         Fawry           paid       aramex
1             zagazig  ...    mastercard         unpaid        fedex
2              safaga  ...          visa         unpaid       aramex
17           kom ombo  ...         meeza         unpaid       aramex
25             armant  ...           cod           paid          dhl
27             talkha  ...         meeza        pending       aramex
31            stanley  ...         meeza         unpaid        fedex
34              dahab  ...         meeza        pending          dhl
35         abu hammad  ...          visa        pending          dhl
37          nasr city  ...          cash           paid       aramex
38              dahab  ...           cod           paid   Egypt Post
41               edfu  ...         meeza         unpaid   Egypt Post
42           kom ombo  ...          cash         unpaid          dhl
43         el mahalla  ...          visa           paid   Egypt Post
56             talkha  ...         Fawry           paid   Egypt Post
62               edfu  ...    mastercard           paid       aramex
64            montaza  ...          cash         unpaid       aramex
66    sharm el sheikh  ...          visa           paid          dhl
68              dahab  ...          cash        pending        fedex
71           hurghada  ...         Fawry         unpaid       aramex
78              tanta  ...           cod         unpaid       aramex
85            qanater  ...          cash        pending   Egypt Post
88             abnoub  ...           cod         unpaid          dhl
89              dahab  ...    mastercard        pending       aramex
90             safaga  ...    mastercard           paid        fedex
103          mansoura  ...          cash           paid       aramex
109             dokki  ...         Fawry         unpaid   Egypt Post
126  shubra el kheima  ...          cash        pending          dhl
128          kom ombo  ...         meeza        pending       aramex
132             dokki  ...         meeza         unpaid        fedex
134            talkha  ...         meeza        pending        fedex
135         nasr city  ...          cash           paid          dhl
141        el mahalla  ...         Fawry           paid       aramex
146           stanley  ...         Fawry           paid   Egypt Post

    ShippingCost       SalesRep    Channel  ReturnFlag  ReturnDate  \
0           25.0   karim rashid  tel-sales          no         NaN
1           75.0      ahmed ali      store         yes  2024-06-22
2            0.0   karim rashid      e-com          no         NaN
17           0.0     mona salah   whatsapp          no         NaN
25          75.0      ahmed ali      e-com          no         NaN
27           0.0      ahmed ali  tel-sales          no         NaN
31          75.0     mona salah      store          no         NaN
34          50.0   karim rashid      e-com          no         NaN
35          75.0      ahmed ali      e-com          no         NaN
37          50.0      ahmed ali   whatsapp          no         NaN
38           0.0      ahmed ali  tel-sales          no         NaN
41           NaN      ahmed ali      e-com          no         NaN
42           0.0     mona salah  tel-sales          no         NaN
43          50.0      ahmed ali      e-com          no         NaN
56          75.0      ahmed ali      e-com          no         NaN
62         100.0  sarah mohamed      store          no         NaN
64           0.0      ahmed ali  tel-sales          no         NaN
66           NaN     mona salah      store          no         NaN
68          25.0      ahmed ali  tel-sales          no         NaN
71          50.0     mona salah   whatsapp          no         NaN
78         100.0   karim rashid   whatsapp         yes         NaN
85          75.0      ahmed ali   whatsapp          no         NaN
88          75.0      ahmed ali  tel-sales          no         NaN
89          50.0      ahmed ali      e-com          no         NaN
90          25.0      ahmed ali      e-com          no         NaN
103         75.0      ahmed ali      e-com          no         NaN
109        100.0  sarah mohamed      e-com          no         NaN
126         25.0   karim rashid      e-com          no         NaN
128         50.0      ahmed ali   whatsapp          no         NaN
132         50.0     mona salah      store          no         NaN
134          0.0      ahmed ali      store          no         NaN
135        100.0   karim rashid      e-com          no         NaN
141         50.0      ahmed ali      e-com          no         NaN
146         25.0  sarah mohamed  tel-sales          no         NaN

         Status                               Notes
0      returned       Old customer - extra discount
1           new                                  in
2           new                                  in
17    delivered        customer asked for gift wrap
25      shipped                                  in
27          new                                  in
31    delivered        customer asked for gift wrap
34    cancelled  Unclear address - landmark: mosque
35   processing                        deliver asap
37      shipped  Unclear address - landmark: mosque
38   processing                                  in
41          new          Contact us before delivery
42          NaN          Contact us before delivery
43     returned  Unclear address - landmark: mosque
56   processing  Unclear address - landmark: mosque
62     returned                        deliver asap
64    cancelled        customer asked for gift wrap
66    cancelled          Contact us before delivery
68          NaN                                  in
71     returned          Contact us before delivery
78          NaN       Old customer - extra discount
85     returned  Unclear address - landmark: mosque
88   processing  Unclear address - landmark: mosque
89    cancelled               wrong phone / invalid
90          new                                  in
103     shipped        customer asked for gift wrap
109     shipped                        deliver asap
126   delivered  Unclear address - landmark: mosque
128         NaN       Old customer - extra discount
132  processing                                  in
134         NaN                                  in
135  processing                        deliver asap
141  processing          Contact us before delivery
146     shipped  Unclear address - landmark: mosque

[34 rows x 32 columns]

In [ ]:
for df in [sales, CustomersDf]:
    df["CustomerName"] = df["CustomerName"].str.lower().str.strip()
    df["Email"] = df["Email"].str.lower().str.strip()
sales = sales.merge(CustomersDf[["CustomerName", "CustomerID", "Email"]],
                    on="CustomerName", how="left", suffixes=("", "_from_name"))
sales = sales.merge(CustomersDf[["Email", "CustomerID"]],
                    on="Email", how="left", suffixes=("", "_from_email"))

sales["CustomerID"] = (
    sales["CustomerID"]
    .fillna(sales["CustomerID_from_name"])
    .fillna(sales["CustomerID_from_email"])
)

sales = sales.drop(columns=["CustomerID_from_name", "CustomerID_from_email"])

In [ ]:
sales["Email"].isna().sum()

np.int64(37)

In [ ]:
GovDf.isna().sum()

GovName      0
AltName      0
Latitude     1
Longitude    1
dtype: int64